Repository pygame-community/pygame-ce, pull requests merged in 2023-11, with the labels that each got.

#2537 Update `pygame.version` to not be an autogen file
  .gitignore
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/base.pyi
  setup.py
  src_c/base.c
  src_c/include/_pygame.h
  src_py/__init__.py
  src_py/version.py
  test/version_test.py
Labels: buildconfig

#2536 Add Circle `collidepoint()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/_pygame.h
  src_c/base.c
  src_c/circle.c
  src_c/collisions.c
  src_c/collisions.h
  src_c/doc/geometry_doc.h
  src_c/geometry.c
  src_c/include/_pygame.h
  test/geometry_test.py
Labels: New API, geometry

#2519 Added missing Circle attrs
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/doc/geometry_doc.h
  src_c/geometry.h
  src_c/include/_pygame.h
  test/geometry_test.py
Labels: New API, geometry

#2473 Add SSE2 intrinsics smoothscale backend
  src_c/simd_transform.h
  src_c/simd_transform_sse2.c
  src_c/transform.c
  test/transform_test.py
Labels: Performance, SIMD, transform

#2545 Fix Circle stubs
  buildconfig/stubs/pygame/geometry.pyi
Labels: bugfix, geometry

#2509 Remove 'responsive' tables from docs CSS
  docs/reST/themes/classic/static/pygame.css_t
Labels: docs, website

#2513 Don't double install mac deps, cleanups
  buildconfig/macdependencies/build_mac_deps.sh
  buildconfig/macdependencies/install_mac_deps.py
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
  buildconfig/manylinux-build/docker_base/alsa/build-alsa.sh
  buildconfig/manylinux-build/docker_base/brotli/build-brotli.sh
  buildconfig/manylinux-build/docker_base/bzip2/build-bzip2.sh
  buildconfig/manylinux-build/docker_base/flac/build-flac.sh
  buildconfig/manylinux-build/docker_base/fluidsynth/build-fluidsynth.sh
  buildconfig/manylinux-build/docker_base/freetype/build-freetype.sh
  buildconfig/manylinux-build/docker_base/gettext/build-gettext.sh
  buildconfig/manylinux-build/docker_base/glib/build-glib.sh
  buildconfig/manylinux-build/docker_base/libffi/build-libffi.sh
  buildconfig/manylinux-build/docker_base/libjpegturbo/build-jpeg-turbo.sh
  buildconfig/manylinux-build/docker_base/libmodplug/build-libmodplug.sh
  buildconfig/manylinux-build/docker_base/libpng/build-png.sh
  buildconfig/manylinux-build/docker_base/libtiff/build-tiff.sh
  buildconfig/manylinux-build/docker_base/libwebp/build-webp.sh
  buildconfig/manylinux-build/docker_base/mpg123/build-mpg123.sh
  buildconfig/manylinux-build/docker_base/ogg/build-ogg.sh
  buildconfig/manylinux-build/docker_base/opus/build-opus.sh
  buildconfig/manylinux-build/docker_base/pkg-config/build-pkg-config.sh
  buildconfig/manylinux-build/docker_base/portmidi/build-portmidi.sh
  buildconfig/manylinux-build/docker_base/pulseaudio/build-pulseaudio.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sndfile/build-sndfile.sh
  buildconfig/manylinux-build/docker_base/strip-lib-so-files.sh
  buildconfig/manylinux-build/docker_base/zlib-ng/build-zlib-ng.sh
  buildconfig/manylinux-build/docker_base/zlib/build-zlib.sh
Labels: Code quality/robustness, dependencies

#2540 Add Circle `collidecircle()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/collisions.c
  src_c/collisions.h
  src_c/doc/geometry_doc.h
  src_c/geometry.h
  test/geometry_test.py
Labels: New API, geometry

#2548 Fix segfault when passing empty StringIO/File object to Font
  src_c/_freetype.c
  src_c/font.c
  test/font_test.py
  test/freetype_test.py
Labels: font, bugfix

#2543 Add the default font to sysfonts
  src_py/sysfont.py
Labels: sysfont

#2546 Remove and deprecate cythonised sprite module
  buildconfig/Setup.Android.SDL2.in
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  setup.py
  src_c/_sprite.c
  src_c/cython/pygame/_sprite.pyx
  src_c/static.c
  src_py/_sprite.py
  test/sprite_test.py
Labels: Deprecation Warning, sprite, cython

#2532 De-emphasise passing a list of rectangles to update
  docs/reST/ref/display.rst
  docs/reST/tutorials/en/intro-to-sprites.rst
  docs/reST/tutorials/en/move-it.rst
  docs/reST/tutorials/en/newbie-guide.rst
  src_c/doc/display_doc.h
Labels: docs, display

#2535 Fix RLE usage in the transform module
  src_c/rotozoom.c
  src_c/transform.c
  test/transform_test.py
Labels: transform

#2550 Remove blend from draw.aaline
  src_c/draw.c
Labels: draw

#2553 Fix segfault in Texture.update()
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pyx
Labels: video, bugfix

#2544 Compile SSE2 smoothscale intrinsics on NEON
  src_c/transform.c
  test/transform_test.py
Labels: ARM, Performance, SIMD, transform

#2559 Fix setDaemon() deprecation error
  src_py/threads/__init__.py
Labels: Code quality/robustness

#2382 AVX Surface.fill() setup, AVX BLEND_ADD
  buildconfig/Setup.Android.SDL2.in
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  setup.py
  src_c/simd_fill.h
  src_c/simd_surface_fill_avx2.c
  src_c/surface_fill.c
Labels: Performance, SIMD, Surface

#2531 Add Premultiplied Alpha tutorial
  docs/reST/index.rst
  docs/reST/ref/surface.rst
  docs/reST/themes/classic/static/pygame.css_t
  docs/reST/themes/classic/theme.conf
  docs/reST/tutorials/assets/premultiplied_alpha_composition.png
  docs/reST/tutorials/assets/straight_alpha_composition.png
  docs/reST/tutorials/en/premultiplied-alpha.rst
Labels: docs, Surface

#2432 Add SIMD versions of the greyscale transform (attempt #2)
  docs/reST/ref/transform.rst
  src_c/simd_transform.h
  src_c/simd_transform_avx2.c
  src_c/simd_transform_sse2.c
  src_c/transform.c
  test/transform_test.py
Labels: Performance, SIMD, transform

#2564 Add `Window.mouse_rect`
  buildconfig/stubs/pygame/_window.pyi
  docs/reST/ref/sdl2_video.rst
  src_c/doc/sdl2_video_doc.h
  src_c/window.c
  test/window_test.py
Labels: New API, video

#2570 Rect.contains() optimization
  src_c/rect.c
  src_c/rect_impl.h
Labels: Performance, rect

#2569 Support collide_mask as collided argument in spritecollide
  buildconfig/stubs/pygame/sprite.pyi
Labels: sprite

#2350 Add `get_surface()` for Window class
  buildconfig/stubs/pygame/_sdl2/video.pyi
  buildconfig/stubs/pygame/_window.pyi
  docs/reST/ref/sdl2_video.rst
  src_c/display.c
  src_c/doc/sdl2_video_doc.h
  src_c/include/_pygame.h
  src_c/window.c
  test/window_test.py
Labels: New API, _sdl2, video

#2076 `mouse.get/set_relative_mode()` instead of `_sdl2.Window.relative_mouse`
  buildconfig/stubs/pygame/mouse.pyi
  docs/reST/ref/mouse.rst
  docs/reST/ref/sdl2_video.rst
  src_c/doc/mouse_doc.h
  src_c/doc/sdl2_video_doc.h
  src_c/mouse.c
  src_c/window.c
  test/mouse_test.py
Labels: New API, mouse

#2547 Reduce amount of usage of "dummy" in codebase to minimum
  buildconfig/config_msys2.py
  buildconfig/config_win.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/constants.pyi
  buildconfig/stubs/pygame/locals.pyi
  docs/reST/tutorials/en/chimp-explanation.rst
  docs/reST/tutorials/en/intro-to-sprites.rst
  docs/reST/tutorials/en/tom-games5.rst
  examples/headless_no_windows_needed.py
  examples/midi.py
  src_c/constants.c
  src_c/display.c
  src_c/rotozoom.c
  src_py/_debug.py
  src_py/sprite.py
  test/display_test.py
  test/event_test.py
  test/font_test.py
  test/image__save_gl_surface_test.py
  test/key_test.py
  test/mouse_test.py
  test/scrap_test.py
  test/surface_test.py
  test/test_utils/png.py
  test/window_test.py
Labels: tests, inclusivity

#2572 Updated ``video.py`` example so it uses ``pygame.display.message_box``
  examples/video.py
Labels: examples, _sdl2

#2574 Fix for windows cameras without framerate
  src_c/camera_windows.c
Labels: Windows, camera

#2577 Window update->flip, doc changes
  buildconfig/stubs/pygame/_window.pyi
  docs/reST/ref/sdl2_video.rst
  src_c/doc/sdl2_video_doc.h
  src_c/window.c
  test/window_test.py
Labels: docs, _sdl2

#2573 Add versionadded tag set_relative_mode
  docs/reST/ref/mouse.rst
Labels: mouse

#2584 Raise minimum SDL version to 2.0.10
  README.rst
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.zh-cn.rst
  src_c/pgcompat_rect.h
  src_c/surface.c
Labels: dependencies

#2586 C loader targets a python alias
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
Labels: video, cython

#2503 Fix gfxdraw.bezier for a lot of points
  docs/reST/ref/gfxdraw.rst
  src_c/SDL_gfx/SDL_gfxPrimitives.c
Labels: gfxdraw, bugfix

#2583 Smoothscale: deprecate old backends, update docs
  docs/reST/ref/examples.rst
  docs/reST/ref/transform.rst
  src_c/doc/transform_doc.h
  src_c/transform.c
  test/transform_test.py
Labels: Deprecation Warning, docs, transform

#2549 Install meson+ninja on buildscripts, bump glib
  buildconfig/macdependencies/build_mac_deps.sh
  buildconfig/macdependencies/clean_usr_local.sh
  buildconfig/macdependencies/macos_arm64.ini
  buildconfig/macdependencies/macos_x86_64.ini
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
  buildconfig/manylinux-build/docker_base/buildtools/install.sh
  buildconfig/manylinux-build/docker_base/cmake/build-cmake.sh
  buildconfig/manylinux-build/docker_base/cmake/cmake.sha512
  buildconfig/manylinux-build/docker_base/glib/build-glib.sh
  buildconfig/manylinux-build/docker_base/glib/glib.sha512
  buildconfig/manylinux-build/docker_base/glib/macos_arm64.cache
Labels: build

#2580 Update SDL 2.26.5 -> 2.28.5
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
Labels: dependencies

#2254 Add lerp & smoothstep to math module
  buildconfig/stubs/pygame/math.pyi
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
  src_c/math.c
  test/math_test.py
Labels: New API, math

#2039 Make Texture and Renderer compatible with float input (floor() based pixel rasterisation/conversion changing to round())
  buildconfig/stubs/pygame/_sdl2/video.pyi
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
Labels: enhancement, _sdl2
