Repository pygame-community/pygame-ce, pull requests merged in 2023-05, with the labels that each got.

#2118 Fix mac wheels issue: sndfile disable lame mpeg
  buildconfig/manylinux-build/docker_base/sndfile/build-sndfile.sh
Labels: MacOS

#2088 fix #2087 until SDL catches up
  src_c/mouse.c
Labels: mouse, bugfix

#2133 Update docs to use pygame-ce versioning
  docs/reST/c_api/version.rst
  docs/reST/conf.py
  docs/reST/ext/customversion.py
  docs/reST/ref/bufferproxy.rst
  docs/reST/ref/camera.rst
  docs/reST/ref/color.rst
  docs/reST/ref/cursors.rst
  docs/reST/ref/display.rst
  docs/reST/ref/draw.rst
  docs/reST/ref/event.rst
  docs/reST/ref/examples.rst
  docs/reST/ref/font.rst
  docs/reST/ref/freetype.rst
  docs/reST/ref/gfxdraw.rst
  docs/reST/ref/image.rst
  docs/reST/ref/joystick.rst
  docs/reST/ref/key.rst
  docs/reST/ref/mask.rst
  docs/reST/ref/math.rst
  docs/reST/ref/midi.rst
  docs/reST/ref/mixer.rst
  docs/reST/ref/mouse.rst
  docs/reST/ref/music.rst
  docs/reST/ref/pixelarray.rst
  docs/reST/ref/pygame.rst
  docs/reST/ref/rect.rst
  docs/reST/ref/scrap.rst
  docs/reST/ref/sdl2_controller.rst
  docs/reST/ref/sndarray.rst
  docs/reST/ref/sprite.rst
  docs/reST/ref/surface.rst
  docs/reST/ref/surfarray.rst
  docs/reST/ref/time.rst
  docs/reST/ref/touch.rst
  docs/reST/ref/transform.rst
Labels: docs

#2152 Fixes for tracker music support, add test
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  examples/data/attributions.txt
  examples/data/surfonasinewave.xm
  test/mixer_music_test.py
Labels: buildconfig, mixer.music

#1939 Clean video.pyx (Move declarations to pxd file)
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
Labels: Code quality/robustness, _sdl2

#2000 Added keyword arguments to `Font.render`
  buildconfig/stubs/pygame/font.pyi
  docs/reST/ref/font.rst
  src_c/doc/font_doc.h
  src_c/font.c
  src_py/ftfont.py
  test/font_test.py
Labels: font

#2113 added stub info for PixelArray.__getitem__
  buildconfig/stubs/pygame/pixelarray.pyi
Labels: type hints, PixelArray

#2161 Raise an error when source and destination surfaces are the same (in `box_blur` and `gaussian_blur`).
  docs/reST/ref/transform.rst
  src_c/transform.c
  test/transform_test.py
Labels: transform, bugfix

#2128 `_sdl2.video` docs rewrite, minor reorderings & method signature changes
  buildconfig/stubs/pygame/_sdl2/video.pyi
  docs/reST/ref/sdl2_video.rst
  src_c/_sdl2/video.c
  src_c/_sprite.c
  src_c/cython/pygame/_sdl2/video.pyx
  src_c/doc/sdl2_video_doc.h
Labels: docs, _sdl2

#2183 Minor documentation updates
  docs/README.md
  docs/reST/ref/display.rst
  docs/reST/ref/music.rst
Labels: docs

#2193 Updated Chimp Example Explanation for #2033
  docs/reST/tutorials/en/chimp-explanation.rst
Labels: docs, examples

#2194 A bit of pygame-ce-ification
  docs/reST/conf.py
  docs/reST/index.rst
  docs/reST/themes/classic/elements.html
  setup.py
Labels: docs

#2195 Include more info in version
  src_py/__init__.py
Labels: docs

#2196 Use `Py_TYPE(self)->tp_free(self)` instead of `PyObject_Free`
  src_c/_camera.c
  src_c/display.c
  src_c/event.c
  src_c/joystick.c
  src_c/math.c
  src_c/mixer.c
  src_c/surflock.c
  src_c/time.c
Labels: Code quality/robustness

#2187 Update README.fr.rst (fix French grammar/punctuation/spelling/etc. mistakes)
  docs/readmes/README.fr.rst
Labels: docs

#2197 Updated scrap code example.
  examples/scrap_clipboard.py
Labels: examples

#2200 Fix the default value of title argument in video.Window
  buildconfig/stubs/pygame/_sdl2/video.pyi
Labels: type hints, _sdl2

#2172 Re-allow destsurf scale w/ diff but compatible pixelformats
  src_c/transform.c
  test/transform_test.py
Labels: transform, bugfix

#2203 Issue redirection (correct one)
  buildconfig/manylinux-build/README.rst
  docs/reST/ref/display.rst
  setup.py
  src_c/_freetype.c
  src_c/color.c
  src_c/display.c
  src_c/key.c
  src_c/math.c
  src_c/surface.c
  src_py/surfarray.py
  test/color_test.py
  test/display_test.py
  test/draw_test.py
  test/event_test.py
  test/font_test.py
  test/freetype_test.py
  test/gfxdraw_test.py
  test/image_test.py
  test/math_test.py
  test/mixer_music_test.py
  test/mixer_test.py
  test/scrap_test.py
  test/sprite_test.py
  test/surface_test.py
  test/surfarray_test.py
  test/test_utils/png.py
Labels: Code quality/robustness

#2179 Optimize `Surface.get_(f)rect`
  src_c/surface.c
Labels: Performance, Surface

#2204 updated scrap related code.
  examples/music_drop_fade.py
Labels: examples, scrap

#2048 Remove `event._joy_instance_map`
  docs/reST/c_api.rst
  docs/reST/c_api/joystick.rst
  src_c/_pygame.h
  src_c/event.c
  src_c/include/_pygame.h
  src_c/joystick.c
  src_c/static.c
Labels: event, joystick, bugfix

#2174 Optimize vector coords memory
  src_c/math.c
Labels: math

#2201 Added persian transaltion for README.rst
  README.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.zh-cn.rst
Labels: docs

#2122 Add dark theme for documentation
  docs/reST/_static/dark-theme-icon.svg
  docs/reST/_static/light-theme-icon.svg
  docs/reST/_static/script.js
  docs/reST/_static/searchbar-icon.svg
  docs/reST/ext/boilerplate.py
  docs/reST/themes/classic/elements.html
  docs/reST/themes/classic/static/pygame.css_t
  docs/reST/themes/classic/theme.conf
Labels: docs
