Repository pygame-community/pygame-ce, pull requests merged in 2023-04, with the labels that each got.

#2034 Issue 2008: fix initial font loading in windows where there is a regi…
  src_py/sysfont.py
Labels: sysfont, bugfix

#2089 fix gen_stubs.py
  buildconfig/stubs/gen_stubs.py
Labels: buildconfig

#2067 Enforce dest_alpha->0 in opaque dest blitter
  src_c/simd_blitters_avx2.c
  test/surface_test.py
Labels: Surface, bugfix

#2096 Redirect home_uri to pyga.me/docs
  docs/reST/conf.py
Labels: docs

#2106 Fix typo
  docs/reST/ref/transform.rst
  src_c/doc/transform_doc.h
Labels: docs

#2071 Create Surface.get_frect method
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/doc/surface_doc.h
  src_c/surface.c
  test/surface_test.py
Labels: Surface

#2036 Undocument and deprecate redundant sprite group classes
  docs/reST/ref/sprite.rst
  src_c/doc/sprite_doc.h
  src_py/sprite.py
Labels: Code quality/robustness, Performance, enhancement, sprite

#2112 Add ce
  docs/reST/ref/locals.rst
  docs/reST/themes/classic/elements.html
Labels: docs

#2108 Start move away from format masks (prep for SDL3)
  src_c/display.c
  src_c/image.c
  src_c/pixelarray_methods.c
  src_c/rotozoom.c
  src_c/transform.c
Labels: Code quality/robustness

#2040 Made `Rect/FRect` `move/move_ip` FASTCALL
  src_c/rect.c
  src_c/rect_impl.h
Labels: Performance, rect

#2123 Continue moving away from format masks
  src_c/_camera.c
  src_c/display.c
  src_c/font.c
  src_c/include/pgcompat.h
  src_c/pixelarray_methods.c
  src_c/rotozoom.c
  src_c/surface.c
  src_c/transform.c
Labels: Code quality/robustness

#2101 Deprecate pygame.image.tostring and fromstring
  docs/reST/ref/image.rst
  src_c/image.c
  test/image_test.py
  test/scrap_test.py
Labels: Deprecation Warning, image
