Repository pygame-community/pygame-ce, pull requests merged in 2023-07, with the labels that each got.

#2279 Adjust pypi tags
  setup.py
Labels: docs

#2278 Remove unused code from test utils
  test/test_utils/__init__.py
  test/test_utils/endian.py
Labels: Code quality/robustness, tests

#2171 Raise macOS deployment target to 10.11
  .github/workflows/build-macos.yml
  buildconfig/macdependencies/build_mac_deps.sh
Labels: MacOS, CI

#2277 Port Rect.scale_by(|_ip)
  buildconfig/stubs/pygame/rect.pyi
  docs/reST/ref/rect.rst
  src_c/doc/rect_doc.h
  src_c/rect.c
  src_c/rect_impl.h
  test/rect_test.py
Labels: New API, rect

#2287 Add window hiddenimport
  src_py/__pyinstaller/hook-pygame.py
Labels: video, bugfix, PyInstaller

#2163 Reveal `.. note::` reST block background color again
  docs/reST/themes/classic/static/pygame.css_t
  docs/reST/themes/classic/theme.conf
Labels: docs

#2177 Added `Color.from_color_space` classmethods
  buildconfig/stubs/pygame/color.pyi
  docs/reST/ref/color.rst
  src_c/color.c
  src_c/doc/color_doc.h
  test/color_test.py
Labels: New API, color

#2294 Remove the old Window cython sources
  buildconfig/stubs/pygame/_sdl2/video.pyi
  buildconfig/stubs/pygame/_sdl2/window.pyi
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
  src_py/_sdl2/window.py
Labels: Code quality/robustness, _sdl2

#2305 Regenerate Cython using 0.29.36
  src_c/_sdl2/audio.c
  src_c/_sdl2/controller_old.c
  src_c/_sdl2/mixer.c
  src_c/_sdl2/sdl2.c
  src_c/_sdl2/video.c
  src_c/_sprite.c
  src_c/pypm.c
Labels: Code quality/robustness

#2301 Update pixelformat to modern format, fix typos
  src_c/display.c
  src_c/window.c
  test/surface_test.py
Labels: Code quality/robustness

#2297 Improved Rect and FRect typing to be more generic and accurate
  buildconfig/stubs/pygame/rect.pyi
Labels: type hints

#2313 Fix FRect slice subscripting
  src_c/rect_impl.h
  test/rect_test.py
Labels: rect, bugfix

#2292 Introduce new custom 'Sequence' ABC, fix issues
  buildconfig/stubs/pygame/_common.pyi
  buildconfig/stubs/pygame/camera.pyi
  buildconfig/stubs/pygame/color.pyi
  buildconfig/stubs/pygame/cursors.pyi
  buildconfig/stubs/pygame/display.pyi
  buildconfig/stubs/pygame/draw.pyi
  buildconfig/stubs/pygame/event.pyi
  buildconfig/stubs/pygame/font.pyi
  buildconfig/stubs/pygame/freetype.pyi
  buildconfig/stubs/pygame/gfxdraw.pyi
  buildconfig/stubs/pygame/image.pyi
  buildconfig/stubs/pygame/mask.pyi
  buildconfig/stubs/pygame/math.pyi
  buildconfig/stubs/pygame/midi.pyi
  buildconfig/stubs/pygame/mouse.pyi
  buildconfig/stubs/pygame/pixelarray.pyi
  buildconfig/stubs/pygame/rect.pyi
  buildconfig/stubs/pygame/surface.pyi
  buildconfig/stubs/pygame/transform.pyi
Labels: type hints

#2316 Remove unnecessary macro
  src_c/color.c
  src_c/pgcompat.h
  src_c/pixelarray.c
Labels: Code quality/robustness

#2318 Move to SDL 2.26.5
  .github/workflows/build-macos.yml
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
Labels: buildconfig

#2321 Fix theme icon positioning when the page shrinks (fix #2320)
  docs/reST/themes/classic/elements.html
Labels: docs

#2235 Multiline examples
  examples/dropevent.py
  examples/font_viewer.py
  examples/joystick.py
  examples/music_drop_fade.py
Labels: examples

#2315 Replace Py_FileSystemDefaultEncoding
  docs/reST/ref/pygame.rst
  src_c/rwobject.c
Labels: Code quality/robustness

#2307 Add `always_on_top` attribute for video.Window
  buildconfig/stubs/pygame/_sdl2/video.pyi
  buildconfig/stubs/pygame/_window.pyi
  docs/reST/ref/sdl2_video.rst
  src_c/doc/sdl2_video_doc.h
  src_c/window.c
Labels: New API, _sdl2

#2325 3.12 wheels
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-windows.yml
  setup.py
Labels: buildconfig

#2328 Continue moving away from format masks again
  src_c/image.c
  src_c/include/pgcompat.h
Labels: Code quality/robustness

#2334 Remove irrelevant SDL version information
  docs/reST/c_api/base.rst
  docs/reST/ref/display.rst
  docs/reST/ref/event.rst
  docs/reST/ref/mixer.rst
  docs/reST/ref/pygame.rst
  docs/reST/ref/sdl2_video.rst
  src_c/doc/pygame_doc.h
Labels: docs

#2327 removed pygame.cdrom refs everywhere
  docs/README.md
  docs/reST/ref/cdrom.rst
  docs/reST/ref/tests.rst
  docs/reST/themes/classic/elements.html
  docs/reST/tutorials/en/intro-to-pygame.rst
  src_c/doc/cdrom_doc.h
  src_c/include/_pygame.h
  src_py/__init__.py
  test/README.rst
  test/__init__.py
  test/base_test.py
  test/test_utils/run_tests.py
Labels: docs, tests, cdrom

#2258 Update joystick.rst - Switch Joy-cons mappings wrong
  docs/reST/ref/joystick.rst
Labels: docs, joystick

#2111 vector2 support for Surface.get_at and set_at
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/surface.c
  test/surface_test.py
Labels: Surface

#2335 Drop pypy3.7, add wheels for pypy3.10
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-windows.yml
Labels: CI, build

#2347 Fix typos + update sse2neon
  src_c/include/pgcompat.h
  src_c/include/sse2neon.h
Labels: Code quality/robustness

#2284 Add pg_post_event and DictProxy C API to release GIL, fix timer issues and speedups
  docs/reST/c_api/event.rst
  docs/reST/ref/event.rst
  docs/reST/ref/time.rst
  src_c/_pygame.h
  src_c/event.c
  src_c/include/_pygame.h
  src_c/mixer.c
  src_c/music.c
  src_c/time.c
  test/event_test.py
  test/time_test.py
Labels: Code quality/robustness, Performance, time, bugfix

#2341 Reset window data on borrowed windows on dealloc
  src_c/window.c
Labels: _sdl2, video, bugfix

#2345 Add `__repr__` for Window class
  src_c/window.c
Labels: _sdl2, video

#2351 Rename PyClockObject to pgClockObject, remove rendered field, small cleanups
  src_c/time.c
Labels: Code quality/robustness, time

#2343 Fix warnings in video.c
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pyx
Labels: Code quality/robustness, _sdl2, video

#2308 Port SDL_cpuinfo.h
  buildconfig/stubs/pygame/system.pyi
  docs/reST/ref/system.rst
  src_c/doc/system_doc.h
  src_c/system.c
  test/system_test.py
Labels: New API, system

#2346 Add Named Colors to docs for pygame.draw and pygame.Surface
  docs/reST/ref/draw.rst
  docs/reST/ref/surface.rst
  src_c/doc/surface_doc.h
Labels: docs, Surface, draw

#2352 Re-add CircleCI for aarch64 builds
  .circleci/config.yml
  .github/workflows/release-gh-draft.yml
  buildconfig/ci/circleci/pull_circleci_artifacts.py
Labels: ARM, Wheels, CI

#2326 Corrected MacOS get_pref_path() documentation
  docs/reST/ref/system.rst
Labels: docs

#2330 Made `Surface.set_at()` fastcall
  src_c/surface.c
Labels: Performance, Surface

#2175 add style_name property to font and freetype font
  README.rst
  buildconfig/stubs/pygame/font.pyi
  buildconfig/stubs/pygame/freetype.pyi
  docs/reST/ref/font.rst
  docs/reST/ref/freetype.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.zh-cn.rst
  src_c/_freetype.c
  src_c/doc/font_doc.h
  src_c/doc/freetype_doc.h
  src_c/font.c
  src_c/freetype/ft_wrap.c
  src_c/freetype/ft_wrap.h
  test/font_test.py
Labels: New API, font

#2355 Use OIDC to publish PyPI releases
  .github/workflows/release-pypi.yml
Labels: CI

#2274 Enabling users to set the soundfont on midi playback
  buildconfig/stubs/pygame/mixer.pyi
  docs/reST/ref/mixer.rst
  src_c/_pygame.h
  src_c/doc/mixer_doc.h
  src_c/mixer.c
  test/mixer_test.py
Labels: New API, mixer.music

#2356 Don't use SDL_ name for our compat layer
  src_c/pgcompat_rect.c
  src_c/pgcompat_rect.h
  src_c/rect.c
Labels: Code quality/robustness, rect

#1961 Add `.point_size` attribute modifier for fonts
  buildconfig/stubs/pygame/font.pyi
  docs/reST/ref/font.rst
  src_c/doc/font_doc.h
  src_c/font.c
  src_c/include/pygame_font.h
  test/font_test.py
Labels: New API, font
