Repository pygame-community/pygame-ce, pull requests merged in 2023-03, with the labels that each got.

#1898 Multiline text
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/constants.pyi
  buildconfig/stubs/pygame/font.pyi
  buildconfig/stubs/pygame/locals.pyi
  docs/reST/ref/font.rst
  src_c/constants.c
  src_c/doc/font_doc.h
  src_c/font.c
  test/font_test.py
Labels: New API, font

#1956 Font.set direction
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/constants.pyi
  buildconfig/stubs/pygame/font.pyi
  buildconfig/stubs/pygame/locals.pyi
  docs/reST/ref/font.rst
  src_c/constants.c
  src_c/doc/font_doc.h
  src_c/font.c
  test/font_test.py
Labels: New API, font

#1857 Add `scale_quality` parameter to Texture.__init__
  buildconfig/stubs/pygame/_sdl2/video.pyi
  docs/reST/ref/sdl2_video.rst
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
  src_c/doc/sdl2_video_doc.h
Labels: _sdl2

#1907 transform.grayscale and Color.grayscale
  buildconfig/stubs/pygame/color.pyi
  buildconfig/stubs/pygame/transform.pyi
  docs/reST/ref/color.rst
  docs/reST/ref/transform.rst
  src_c/color.c
  src_c/doc/color_doc.h
  src_c/doc/transform_doc.h
  src_c/transform.c
  test/color_test.py
  test/transform_test.py
Labels: New API, transform

#1959 Add dependabot for updating actions scripts
  .github/dependabot.yml
Labels: CI

#1948 Wasm static multiphase init for dynamic loading
  src_c/_blit_info.h
  src_c/static.c
  src_py/__init__.py
  src_py/_sdl2/__init__.py
Labels: build, WebAssembly

#1872 Add docs status badge
  README.rst
Labels: docs

#1853 Add defaults to enable passing no arguments when creating a `pygame.Font()`
  buildconfig/stubs/pygame/font.pyi
  docs/reST/ref/font.rst
  src_c/doc/font_doc.h
  src_c/font.c
  src_py/ftfont.py
  test/font_test.py
Labels: font

#1935 Implement swizzling for `pygame.Color`
  buildconfig/stubs/pygame/color.pyi
  docs/reST/ref/color.rst
  src_c/color.c
  test/color_test.py
Labels: New API, color

#1911 pygame.transform.invert
  buildconfig/stubs/pygame/transform.pyi
  docs/reST/ref/transform.rst
  src_c/doc/transform_doc.h
  src_c/transform.c
  test/transform_test.py
Labels: New API, transform

#1996 added missing versionadded tags in recent new API docs
  docs/reST/ref/surface.rst
  docs/reST/ref/transform.rst
Labels: docs, transform

#1994 Fix color swizzling as per request in #1989
  docs/reST/ref/color.rst
  src_c/color.c
  test/color_test.py
Labels: color

#2004 Modified docs css
  docs/reST/themes/classic/static/pygame.css_t
Labels: docs

#2002 Another minor fblits refactor
  src_c/surface.c
Labels: Code quality/robustness, Surface

#2007 Fix the segfault of `Surface.convert()`.
  src_c/surface.c
  test/surface_test.py
Labels: Surface

#2005 Add test that the surface to be pre-multiplied has pixels
  src_c/surface.c
Labels: Surface, bugfix

#1836 transform.blur
  buildconfig/stubs/pygame/transform.pyi
  docs/reST/ref/transform.rst
  examples/data/peppers3.tif
  src_c/doc/transform_doc.h
  src_c/transform.c
  test/transform_test.py
Labels: New API, transform

#1897 System module
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/system.pyi
  docs/reST/ref/system.rst
  src_c/doc/system_doc.h
  src_c/static.c
  src_c/system.c
  src_py/__init__.py
  test/system_test.py
Labels: New API

#1971 Add font name getter
  buildconfig/stubs/pygame/font.pyi
  docs/reST/ref/font.rst
  src_c/doc/font_doc.h
  src_c/font.c
  test/font_test.py
Labels: New API, font

#2010 Add keyword for image
  buildconfig/stubs/pygame/image.pyi
  docs/reST/ref/image.rst
  src_c/doc/image_doc.h
  src_c/image.c
  src_c/imageext.c
Labels: image

#1942 Add image & rect properties to Sprite
  buildconfig/stubs/pygame/sprite.pyi
  src_py/sprite.py
Labels: sprite

#2012 Remove `sudo apt-mark hold grub-efi-amd64-signed` for Ubuntu20.04
  .github/workflows/build-ubuntu-sdist.yml
  .github/workflows/cppcheck.yml
Labels: CI

#2009 Fix text input example
  examples/textinput.py
Labels: examples

#2011 Renamed "`the_args`" to "`blend_flags`" everywhere
  docs/reST/c_api/surface.rst
  src_c/alphablit.c
  src_c/surface.c
  src_c/surface.h
Labels: Code quality/robustness, Surface

#1995 Revise `repr` overload as per request in #1988
  src_c/color.c
  src_c/math.c
  src_c/rect.c
  test/color_test.py
  test/math_test.py
  test/rect_test.py
Labels: rect, color, math

#2003 Circle fix
  src_c/draw.c
Labels: draw, bugfix

#1874 Better VSync
  buildconfig/stubs/pygame/display.pyi
  docs/reST/ref/display.rst
  examples/setmodescale.py
  src_c/display.c
  src_c/doc/display_doc.h
Labels: enhancement, display

#2001 Change mixer to use FileNotFoundError and fix related tests
  docs/reST/ref/music.rst
  src_c/music.c
  test/mixer_music_test.py
  test/mixer_test.py
Labels: mixer.music

#2018 Add type hint for draw_triangle and draw_quad
  buildconfig/stubs/pygame/_sdl2/video.pyi
Labels: enhancement, _sdl2

#1998 Fix issues and inconsistency with draw_line_width
  src_c/draw.c
  test/draw_test.py
Labels: draw

#2032 fixed banding bug with draw.circle
  src_c/draw.c
  test/draw_test.py
Labels: draw, bugfix

#1944 Implement FRect
  buildconfig/Setup.Android.SDL2.in
  buildconfig/Setup.SDL2.in
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/_common.pyi
  buildconfig/stubs/pygame/rect.pyi
  docs/reST/c_api/rect.rst
  docs/reST/ref/rect.rst
  src_c/_pygame.h
  src_c/doc/rect_doc.h
  src_c/include/_pygame.h
  src_c/pgcompat_rect.c
  src_c/pgcompat_rect.h
  src_c/rect.c
  src_c/rect_impl.h
  src_c/static.c
  src_py/__init__.py
  test/rect_test.py
Labels: New API, rect

#5 Add an AVX2 version of the BLEND_PREMULTIPLIED blend mode
  src_c/alphablit.c
  src_c/simd_blitters.h
  src_c/simd_blitters_avx2.c
  test/surface_test.py
Labels: Performance

#2019 AVX2 alpha blitters
  src_c/alphablit.c
  src_c/simd_blitters.h
  src_c/simd_blitters_avx2.c
Labels: Performance, SIMD, Surface

#2026 Raise `ValueError` when bluring an indexed surface.
  docs/reST/ref/transform.rst
  src_c/transform.c
  test/transform_test.py
Labels: transform, bugfix

#1984 deprecated existing scrap API and replaced it with simpler API
  buildconfig/stubs/pygame/scrap.pyi
  docs/reST/ref/scrap.rst
  src_c/doc/scrap_doc.h
  src_c/scrap.c
  test/scrap_tags.py
  test/scrap_test.py
Labels: Deprecation Warning, New API, scrap

#2046 Fix typo in `rect.rst`
  docs/reST/c_api/rect.rst
Labels: docs

#2028 transform.blur: fix #2027
  src_c/transform.c
Labels: transform, bugfix

#1848 Translated README to Simplified Chinese.
  README.rst
  docs/readmes/README.zh-cn.rst
Labels: docs

#1884 Faster simple scaling algorithm using SDL functions
  docs/reST/ref/transform.rst
  src_c/scale2x.c
  src_c/transform.c
  test/transform_test.py
Labels: Performance, transform

#2061 Update badge in `README.zh-cn.rst`
  docs/readmes/README.zh-cn.rst
Labels: docs

#2065 Replace `PyErr_SetString` with `RAISE` in gfxdraw.c
  src_c/gfxdraw.c
Labels: Code quality/robustness

#2016 Add global alpha and colorkey info to Surf repr
  src_c/surface.c
  test/surface_test.py
Labels: enhancement, Surface

#1973 `font.SysFont` - Warn user if no font was found
  src_py/sysfont.py
  test/sysfont_test.py
Labels: enhancement, font

#1986 Update windows deps
  buildconfig/download_win_prebuilt.py
  test/mixer_test.py
Labels: buildconfig

#2075 Retarget old wiki links
  README.rst
  docs/reST/index.rst
  docs/readmes/README.zh-cn.rst
  setup.py
Labels: docs

#2049 added consistent dest_surface description in transform.rst
  docs/reST/ref/transform.rst
Labels: docs

#2078 Remove out-dated macros
  src_c/include/pgcompat.h
Labels: Code quality/robustness

#2064 Use PyMem_Free instead of PyMem_Del
  src_c/rwobject.c
  src_c/time.c
Labels: Code quality/robustness
