Repository pygame-community/pygame-ce, pull requests merged in 2023-08, with the labels that each got.

#2367 Minor improvements to `Window.size` and `Window.position` C code
  src_c/window.c
Labels: Code quality/robustness, _sdl2

#2359 correct typo in rect test methods
  test/rect_test.py
Labels: tests, Formatting

#2372 remove SDL_VERSION_ATLEAST(2, 0, 5)
  src_c/display.c
Labels: Code quality/robustness

#2357 Remove sdlmain_osx.m
  buildconfig/Setup_Darwin.in
  buildconfig/config_darwin.py
  src_c/sdlmain_osx.m
Labels: Code quality/robustness, MacOS

#2370 Try getting freetype tests running on CI, fix minor test fail issues
  test/freetype_test.py
Labels: tests, freetype

#2038 Display doc changes
  docs/reST/ref/display.rst
  examples/glcube.py
  src_c/display.c
  src_c/doc/display_doc.h
Labels: docs, display

#2263 Improved `blits()` docs
  docs/reST/ref/surface.rst
  src_c/doc/surface_doc.h
Labels: docs

#2394 add deepcopy capability to Surface
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/surface.c
  test/surface_test.py
Labels: enhancement, Surface

#2393 ignore lint warning in locals.py (to make the linter pass)
  src_py/locals.py
Labels: Code quality/robustness

#2391 Fix stubs for Color.__getitem__
  buildconfig/stubs/pygame/color.pyi
Labels: type hints, color

#2387 Fix minor issues in joystick and moveit examples
  examples/joystick.py
  examples/moveit.py
Labels: examples, bugfix

#2384 Not skipping a mixer test that previously was failing often
  test/mixer_test.py
Labels: tests, mixer

#2358 Bugfix/font stubs
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/font.pyi
  buildconfig/stubs/pygame/freetype.pyi
Labels: type hints, font

#2381 Fixed `Sound.__init__` raising `TypeError` when it should be `FileNotFoundError`
  src_c/mixer.c
  test/mixer_test.py
Labels: mixer, bugfix

#2380 Use Union[FRect, Rect] in places where only Rect was allowed in sprite.pyi (fix #2300)
  buildconfig/stubs/pygame/sprite.pyi
Labels: type hints, rect

#2276 fixed pixelarray indexing to prevent segfault reported in #2275
  src_c/pixelarray.c
  src_c/pixelarray_methods.c
  test/pixelarray_test.py
Labels: PixelArray, bugfix

#2407 Cap the sphinx version under 7.2.0
  .circleci/config.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-ubuntu-sdist.yml
  .github/workflows/build-windows.yml
  .github/workflows/format-lint.yml
Labels: dependencies, docs, TOP PRIORITY!

#2392 Deprecate passing out of range sequence lengths to colorspace setters
  src_c/color.c
  test/color_test.py
Labels: Deprecation Warning, color

#2369 Add a `mixer.Channel.id` getter
  buildconfig/stubs/pygame/mixer.pyi
  docs/reST/ref/mixer.rst
  src_c/doc/mixer_doc.h
  src_c/mixer.c
  test/mixer_test.py
Labels: New API, mixer

#2402 Fully bump cibuildwheel
  .circleci/config.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-windows.yml
Labels: CI

#2411 Remove mentions of overlay module
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  docs/README.md
  docs/reST/ext/boilerplate.py
  docs/reST/ref/overlay.rst
  docs/reST/themes/classic/elements.html
  examples/README.rst
  src_c/doc/overlay_doc.h
  src_py/__init__.py
Labels: docs, overlay

#2349 Fix mapped int negative or overflow bugs, improve color C API
  docs/reST/c_api/base.rst
  docs/reST/c_api/color.rst
  src_c/_freetype.c
  src_c/_pygame.h
  src_c/base.c
  src_c/color.c
  src_c/display.c
  src_c/draw.c
  src_c/font.c
  src_c/gfxdraw.c
  src_c/include/_pygame.h
  src_c/mask.c
  src_c/pixelarray.c
  src_c/pixelarray_methods.c
  src_c/static.c
  src_c/surface.c
  src_c/transform.c
Labels: Code quality/robustness, color, bugfix

#2412 Use `BUILD_STATIC` instead of `PYGAMEAPI_DISPLAY_INTERNAL` in window.c
  src_c/window.c
Labels: Code quality/robustness

#2363 Fixed joystick doc + properly deprecate ``pygame.Joystick.init/get_id``
  docs/reST/ref/joystick.rst
  examples/joystick.py
  src_c/joystick.c
Labels: Code quality/robustness, docs, joystick

#2364 Added `Window.(min|max)imum_size`
  buildconfig/stubs/pygame/_sdl2/video.pyi
  buildconfig/stubs/pygame/_window.pyi
  docs/reST/ref/sdl2_video.rst
  src_c/doc/sdl2_video_doc.h
  src_c/window.c
Labels: New API, _sdl2

#2419 wasm: init pygame.newbuffer
  src_c/static.c
Labels: WebAssembly

#2395 Bump cython to 3.0.0
  .github/workflows/build-emsdk.yml
  buildconfig/stubs/pygame/_sdl2/video.pyi
  src_c/_sdl2/audio.c
  src_c/_sdl2/controller_old.c
  src_c/_sdl2/mixer.c
  src_c/_sdl2/sdl2.c
  src_c/_sdl2/video.c
  src_c/_sprite.c
  src_c/cython/pygame/_sdl2/audio.pyx
  src_c/cython/pygame/_sdl2/controller_old.pyx
  src_c/cython/pygame/_sdl2/mixer.pxd
  src_c/cython/pygame/_sdl2/video.pyx
Labels: dependencies

#2400 Support int and str input for color values in video module
  buildconfig/stubs/pygame/_sdl2/video.pyi
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
Labels: enhancement, video

#2228 Update README.fr.rst (fix typos, ``pygame`` => ``pygame-ce`` ...)
  README.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.zh-cn.rst
Labels: docs

#2423 minor sprite doc fixes
  docs/reST/ref/sprite.rst
Labels: docs, sprite

#2344 Fix pygame.draw.arc
  src_c/draw.c
Labels: draw, bugfix

#2230 Add unitest for `Window`
  test/window_test.py
Labels: tests, video

#2426 Prevent segfault due to division by zero in music.get_pos
  docs/reST/ref/music.rst
  src_c/music.c
Labels: mixer.music, bugfix
