Repository pygame-community/pygame-ce, pull requests merged in 2023-06, with the labels that each got.

#2213 Update sse2neon to latest version
  src_c/include/sse2neon.h
Labels: Code quality/robustness, SIMD

#2215 Fix the large inline code sections in the dark theme
  docs/reST/themes/classic/static/pygame.css_t
Labels: docs

#2126 speedup for triangle rendering
  src_c/draw.c
Labels: draw

#2210 Use builtin broadcasting intrinsics in blitters
  src_c/simd_blitters_avx2.c
  src_c/simd_blitters_sse2.c
Labels: Code quality/robustness, SIMD

#2226 fix search page green background in dark theme
  docs/reST/themes/classic/static/pygame.css_t
  docs/reST/themes/classic/theme.conf
Labels: docs

#2114 Port video.Window to C
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/_sdl2/video.pyi
  buildconfig/stubs/pygame/_sdl2/window.pyi
  buildconfig/stubs/pygame/_window.pyi
  buildconfig/stubs/pygame/constants.pyi
  buildconfig/stubs/pygame/locals.pyi
  docs/reST/c_api.rst
  docs/reST/c_api/window.rst
  src_c/_pygame.h
  src_c/_sdl2/video.c
  src_c/constants.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
  src_c/include/_pygame.h
  src_c/static.c
  src_c/window.c
  src_py/_sdl2/window.py
Labels: Code quality/robustness, _sdl2

#1844 Add mixer.Channel.set_source_location()
  buildconfig/stubs/pygame/mixer.pyi
  docs/reST/ref/mixer.rst
  src_c/doc/mixer_doc.h
  src_c/mixer.c
  test/mixer_test.py
Labels: New API, mixer

#2031 Fix issue with converting surfaces to 8 bit surfaces with palettes
  src_c/surface.c
  test/surface_test.py
Labels: Surface, bugfix

#2247 Try reverting PR #2088 to solve #2236
  src_c/mouse.c
Labels: mouse, bugfix

#2248 Fix colors for warnings to be compatible with light and dark themes
  docs/reST/themes/classic/static/pygame.css_t
Labels: docs

#2249 Fixing android build
  buildconfig/Setup.Android.SDL2.in
Labels: buildconfig, Android

#2219 Added multiline text rendering to eventlist example
  examples/eventlist.py
Labels: examples

#2207 Remove obsolete vidcapture camera backend (#1660)
  docs/reST/ref/camera.rst
  docs/reST/ref/pygame.rst
  docs/reST/tutorials/en/intro-to-camera.rst
  src_py/_camera_vidcapture.py
  src_py/camera.py
Labels: camera

#2255 Fix segfault when rendering fonts
  docs/reST/ref/font.rst
  src_c/font.c
Labels: font, bugfix

#2271 Fix SysFont None issue
  src_py/sysfont.py
  test/sysfont_test.py
Labels: sysfont, bugfix

#2246 Gaussian blur radius fix
  docs/reST/ref/transform.rst
  src_c/transform.c
  test/transform_test.py
Labels: transform, bugfix

#2272 Restore SDL 2.0.9 support
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/include/_pygame.h
  src_c/pgcompat_rect.h
Labels: Code quality/robustness, Raspberry Pi
