Repository pygame-community/pygame-ce, pull requests merged in 2023-02, with the labels that each got.

#14 Add an initial CODEOWNERS file to the pygame-ce project
  .github/CODEOWNERS
Labels: Governance

#1858 Use prebuilt bundle hosted by us
  buildconfig/download_win_prebuilt.py
Labels: Code quality/robustness

#1869 Fixed reversed `Window.borderless`
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pyx
Labels: _sdl2, bugfix

#1865 Documentation retarget
  docs/__main__.py
Labels: docs

#1861 wasm ci : bump sdk version, and python 3.11.2
  .github/workflows/build-emsdk.yml
Labels: build

#1854 Add aliases for most common objects
  buildconfig/stubs/pygame/__init__.pyi
  docs/reST/ref/event.rst
  docs/reST/ref/font.rst
  docs/reST/ref/joystick.rst
  docs/reST/ref/mixer.rst
  docs/reST/ref/time.rst
  src_py/__init__.py
  test/event_test.py
  test/font_test.py
  test/joystick_test.py
  test/mixer_test.py
  test/time_test.py
Labels: Code quality/robustness

#1832 Collidepoint performance improvements
  buildconfig/stubs/pygame/rect.pyi
  src_c/base.c
  src_c/rect.c
Labels: Performance, rect

#1888 Add brew install pkg-config to mac builds
  .github/workflows/build-macos.yml
Labels: CI

#2 Debug method
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/_debug.pyi
  docs/reST/ref/pygame.rst
  src_c/doc/pygame_doc.h
  src_py/__init__.py
  src_py/_debug.py
  test/debug_test.py
Labels: New API

#1891 Fix cppcheck crash.
  .github/workflows/build-ubuntu-sdist.yml
  .github/workflows/cppcheck.yml
Labels: CI, build

#1904 Delete old unused scrap module code
  src_c/scrap.c
  src_c/scrap_mac.c
  src_c/scrap_qnx.c
  src_c/scrap_x11.c
  src_c/sdlmain_osx.m
Labels: MacOS, Gnu/Linux, scrap

#8 Added `pygame.mixer.music.get_metadata`
  buildconfig/stubs/pygame/mixer_music.pyi
  docs/reST/ref/music.rst
  examples/data/metadata.mp3
  src_c/doc/music_doc.h
  src_c/music.c
  test/mixer_music_test.py
Labels: New API, mixer.music

#1895 Remove draw_py module
  buildconfig/stubs/mypy_allow_list.txt
  src_py/draw_py.py
  test/draw_test.py
Labels: Awaiting Merge, Code quality/robustness

#1867 Bump cibw, more pypy builds on windows
  .circleci/config.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-windows.yml
Labels: build

#1863 Implement `pitch` argument for `pygame.image.frombuffer`, `pygame.image.fromstring`, and `pygame.image.frombytes`
  buildconfig/stubs/pygame/image.pyi
  docs/reST/ref/image.rst
  src_c/doc/image_doc.h
  src_c/image.c
  test/image_test.py
Labels: image

#1831 Surface.fblits()
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/doc/surface_doc.h
  src_c/surface.c
  test/blit_test.py
Labels: Performance, New API, Surface

#1914 There are still more references to pygame.org
  buildconfig/appveyor.yml
  buildconfig/manylinux-build/build-wheels.sh
  docs/reST/tut/PygameIntro.rst
  docs/reST/tut/en/Red_or_Black/4.Control_text/Basic INPUT.rst
  docs/reST/tut/ko/빨간블록 검은블록/4.텍스트 조종/기초 입력.rst
  src_c/transform.c
  src_py/colordict.py
Labels: buildconfig, docs

#4 Re-order display fullscreen handling and ensure toggle_fullscreen works for maximized window (by Temmie)
  src_c/display.c
Labels: display

#1920 Remove experimental tags for certain functions
  docs/reST/ref/font.rst
  docs/reST/ref/key.rst
  docs/reST/ref/math.rst
  docs/reST/ref/rect.rst
  docs/reST/ref/transform.rst
Labels: docs

#1916 Docs CSS enhancement
  docs/reST/themes/classic/static/pygame.css_t
Labels: docs

#1905 Rect `collidelist()`/`collidelistall()` speedup
  src_c/_pygame.h
  src_c/rect.c
  test/rect_test.py
Labels: Performance, rect

#1909 Rewrite stars.py
  examples/stars.py
Labels: examples

#1896 Drop CPython 3.6 support
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-ubuntu-sdist.yml
  .github/workflows/build-windows.yml
  README.rst
  buildconfig/appveyor.yml
  buildconfig/manylinux-build/build-wheels.sh
  docs/README.md
  docs/reST/ref/sprite.rst
  setup.cfg
  setup.py
  src_c/_pygame.h
  src_c/rwobject.c
Labels: build

#1899 Make manylinux (i686 and x86_64) base images on CI
  .github/workflows/build-manylinux.yml
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
Labels: CI

#1922 Fix mac freetype dylib circular import issue, make sure CI generated wheels are self-contained
  .github/workflows/build-macos.yml
  buildconfig/manylinux-build/docker_base/freetype/build-freetype.sh
Labels: MacOS, TOP PRIORITY!, font

#1876 Implement `draw_triangle` and `draw_quad` in `pygame._sdl2`
  buildconfig/stubs/pygame/_sdl2/video.pyi
  docs/reST/ref/sdl2_video.rst
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/cython/pygame/_sdl2/video.pyx
  src_c/doc/sdl2_video_doc.h
Labels: New API, _sdl2

#1855 pgScancodeWrapper now raises exception when trying to use __iter__
  docs/reST/ref/key.rst
  src_c/key.c
  test/key_test.py
Labels: Code quality/robustness

#1938 simplified pg_rect_clip
  src_c/rect.c
  test/rect_test.py
Labels: Code quality/robustness, rect
