Repository pygame-community/pygame-ce, pull requests merged in 2023-09, with the labels that each got.

#2180 font: ftfont should pass same tests as font
  src_py/ftfont.py
  test/font_test.py
Labels: tests, ftfont

#2437 Patches so constants.c compiles in SDL3
  src_c/_pygame.h
  src_c/base.c
  src_c/constants.c
Labels: sdl3

#2439 Use format instead of masks (4)
  src_c/pixelcopy.c
Labels: sdl3

#2440 Use format instead of masks (5)
  src_c/freetype/ft_render.c
Labels: freetype, sdl3

#2434 Improved `Surface.fill` error message for invalid blend flags
  src_c/surface_fill.c
  test/surface_test.py
Labels: Code quality/robustness, Surface

#2444 Use RAISE when appropriate
  src_c/_freetype.c
  src_c/color.c
  src_c/display.c
  src_c/font.c
  src_c/math.c
  src_c/mixer.c
  src_c/music.c
  src_c/pixelarray.c
  src_c/pixelarray_methods.c
  src_c/rect_impl.h
  src_c/scrap.c
  src_c/scrap_sdl2.c
  src_c/scrap_win.c
  src_c/surface.c
Labels: Code quality/robustness

#2443 Optimize vector parsing in math.c
  src_c/math.c
Labels: Performance, math

#1912 get_just_pressed and get_just_released
  buildconfig/stubs/pygame/key.pyi
  docs/reST/ref/key.rst
  src_c/_pygame.h
  src_c/doc/key_doc.h
  src_c/event.c
  src_c/include/_pygame.h
  src_c/key.c
  test/key_test.py
Labels: New API, key

#2257 Add `get_power_state()`
  buildconfig/stubs/pygame/system.pyi
  docs/reST/ref/system.rst
  src_c/doc/system_doc.h
  src_c/system.c
  src_py/__init__.py
  src_py/_data_classes.py
  test/system_test.py
Labels: New API, system

#2430 Spanish Translation
  README.rst
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.zh-cn.rst
Labels: docs

#2460 Remove conan buildconfig
  buildconfig/ci/travis/cibuildwheel_mac.sh
  buildconfig/conanconf/README.md
  buildconfig/conanconf/conanfile.txt
  buildconfig/config.py
  buildconfig/config_conan.py
Labels: buildconfig, Code quality/robustness

#2459 Remove experimental notice on system module
  docs/reST/ref/system.rst
Labels: docs, system

#2043 Made many `Rect/FRect` methods fastcall
  src_c/rect.c
  src_c/rect_impl.h
Labels: Performance, rect

#2466 Fix uint64 underflow in `tick_busy_loop`
  src_c/time.c
Labels: time, bugfix

#2464 Raise minimum deps of SDL and friends
  README.rst
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.zh-cn.rst
  src_c/_sdl2/controller_old.c
  src_c/_sprite.c
  src_c/controllercompat.c
  src_c/cython/pygame/_sdl2/controller_old.pxd
  src_c/cython/pygame/_sdl2/controller_old.pyx
  src_c/font.c
  src_c/joystick.c
  src_c/mixer.c
  src_c/music.c
Labels: buildconfig

#2470 Bump versions of many manylinux deps
  .circleci/config.yml
  .github/workflows/build-manylinux.yml
  buildconfig/manylinux-build/docker_base/alsa/alsa.sha512
  buildconfig/manylinux-build/docker_base/alsa/build-alsa.sh
  buildconfig/manylinux-build/docker_base/brotli/brotli.sha512
  buildconfig/manylinux-build/docker_base/brotli/build-brotli.sh
  buildconfig/manylinux-build/docker_base/flac/build-flac.sh
  buildconfig/manylinux-build/docker_base/flac/flac.sha512
  buildconfig/manylinux-build/docker_base/fluidsynth/build-fluidsynth.sh
  buildconfig/manylinux-build/docker_base/fluidsynth/fluidsynth.sha512
  buildconfig/manylinux-build/docker_base/freetype/build-freetype.sh
  buildconfig/manylinux-build/docker_base/freetype/freetype.sha512
  buildconfig/manylinux-build/docker_base/gettext/build-gettext.sh
  buildconfig/manylinux-build/docker_base/libffi/build-libffi.sh
  buildconfig/manylinux-build/docker_base/libffi/libffi.sha512
  buildconfig/manylinux-build/docker_base/libjpegturbo/build-jpeg-turbo.sh
  buildconfig/manylinux-build/docker_base/libjpegturbo/libjpegturbo.sha512
  buildconfig/manylinux-build/docker_base/libpng/build-png.sh
  buildconfig/manylinux-build/docker_base/libpng/png.sha512
  buildconfig/manylinux-build/docker_base/libtiff/build-tiff.sh
  buildconfig/manylinux-build/docker_base/libtiff/tiff.sha512
  buildconfig/manylinux-build/docker_base/libwebp/build-webp.sh
  buildconfig/manylinux-build/docker_base/libwebp/webp.sha512
  buildconfig/manylinux-build/docker_base/mpg123/build-mpg123.sh
  buildconfig/manylinux-build/docker_base/mpg123/mpg123.sha512
  buildconfig/manylinux-build/docker_base/opus/build-opus.sh
  buildconfig/manylinux-build/docker_base/opus/opus.sha512
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  buildconfig/manylinux-build/docker_base/sndfile/build-sndfile.sh
  buildconfig/manylinux-build/docker_base/sndfile/sndfile.sha512
  buildconfig/manylinux-build/docker_base/zlib-ng/build-zlib-ng.sh
  buildconfig/manylinux-build/docker_base/zlib-ng/zlib-ng.sha512
  buildconfig/manylinux-build/docker_base/zlib/build-zlib.sh
  buildconfig/manylinux-build/docker_base/zlib/zlib.sha512
Labels: CI

#2438 Skipping mixer test because it randomly fails on Linux
  test/mixer_test.py
Labels: tests, mixer

#2474 Up cibuildwheel
  .circleci/config.yml
  .github/workflows/build-windows.yml
Labels: CI

#2475 Remove test tests
  setup.py
  test/run_tests__tests/__init__.py
  test/run_tests__tests/all_ok/__init__.py
  test/run_tests__tests/all_ok/fake_2_test.py
  test/run_tests__tests/all_ok/fake_3_test.py
  test/run_tests__tests/all_ok/fake_4_test.py
  test/run_tests__tests/all_ok/fake_5_test.py
  test/run_tests__tests/all_ok/fake_6_test.py
  test/run_tests__tests/all_ok/no_assertions__ret_code_of_1__test.py
  test/run_tests__tests/all_ok/zero_tests_test.py
  test/run_tests__tests/everything/__init__.py
  test/run_tests__tests/everything/fake_2_test.py
  test/run_tests__tests/everything/incomplete_todo_test.py
  test/run_tests__tests/everything/magic_tag_test.py
  test/run_tests__tests/everything/sleep_test.py
  test/run_tests__tests/exclude/__init__.py
  test/run_tests__tests/exclude/fake_2_test.py
  test/run_tests__tests/exclude/invisible_tag_test.py
  test/run_tests__tests/exclude/magic_tag_test.py
  test/run_tests__tests/failures1/__init__.py
  test/run_tests__tests/failures1/fake_2_test.py
  test/run_tests__tests/failures1/fake_3_test.py
  test/run_tests__tests/failures1/fake_4_test.py
  test/run_tests__tests/incomplete/__init__.py
  test/run_tests__tests/incomplete/fake_2_test.py
  test/run_tests__tests/incomplete/fake_3_test.py
  test/run_tests__tests/incomplete_todo/__init__.py
  test/run_tests__tests/incomplete_todo/fake_2_test.py
  test/run_tests__tests/incomplete_todo/fake_3_test.py
  test/run_tests__tests/infinite_loop/__init__.py
  test/run_tests__tests/infinite_loop/fake_1_test.py
  test/run_tests__tests/infinite_loop/fake_2_test.py
  test/run_tests__tests/print_stderr/__init__.py
  test/run_tests__tests/print_stderr/fake_2_test.py
  test/run_tests__tests/print_stderr/fake_3_test.py
  test/run_tests__tests/print_stderr/fake_4_test.py
  test/run_tests__tests/print_stdout/__init__.py
  test/run_tests__tests/print_stdout/fake_2_test.py
  test/run_tests__tests/print_stdout/fake_3_test.py
  test/run_tests__tests/print_stdout/fake_4_test.py
  test/run_tests__tests/run_tests__test.py
  test/run_tests__tests/timeout/__init__.py
  test/run_tests__tests/timeout/fake_2_test.py
  test/run_tests__tests/timeout/sleep_test.py
Labels: tests

#2480 WASM: add required PyObject *_null parameter to functions marked with METH_NOARGS in display.c
  src_c/display.c
Labels: Code quality/robustness

#2479 Remove old CI files
  buildconfig/appveyor.yml
  buildconfig/ci/appveyor/README.rst
  buildconfig/ci/appveyor/download_pypy.ps1
  buildconfig/ci/appveyor/run_with_compiler.cmd
  buildconfig/ci/travis/.travis_linux_build_wheels.sh
  buildconfig/ci/travis/.travis_osx_rename_whl.py
  buildconfig/ci/travis/build_test_sdist.sh
Labels: CI
