Repository pygame-community/pygame-ce, pull requests merged in 2023-12, with the labels that each got.

#2585 Compile windows _camera on MSVC only
  src_c/camera.h
  src_c/camera_windows.c
Labels: Windows, build

#2565 Added missing AVX2 fillers
  src_c/simd_fill.h
  src_c/simd_surface_fill_avx2.c
  src_c/surface_fill.c
Labels: Performance, SIMD, Surface

#2524 Add multiplayer joystick example
  examples/multiplayer_joystick.py
Labels: examples, joystick

#2590 Subclassing Sounds + Channels.
  buildconfig/stubs/pygame/mixer.pyi
  docs/reST/ref/mixer.rst
  src_c/include/pygame_mixer.h
  src_c/mixer.c
  test/mixer_test.py
Labels: mixer

#2595 SDL_image 2.8.0
  .github/workflows/build-ubuntu-sdist.yml
  buildconfig/Setup.Android.SDL2.in
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  buildconfig/config_darwin.py
  buildconfig/config_emsdk.py
  buildconfig/config_unix.py
  buildconfig/config_win.py
  buildconfig/download_win_prebuilt.py
  src_c/imageext.c
Labels: dependencies, image, SDL_Image 2.6.0+

#2566 Add SSE2 fillers
  buildconfig/Setup.Android.SDL2.in
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  src_c/simd_fill.h
  src_c/simd_surface_fill_sse2.c
  src_c/surface_fill.c
Labels: Performance, SIMD, Surface

#2597 Fix linked/non linked SDL image version getter
  src_c/imageext.c
Labels: image

#2562 Add Circle `update()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/doc/geometry_doc.h
  test/geometry_test.py
Labels: New API, geometry

#2596 SDL_image 2.8.0
  .github/workflows/build-ubuntu-sdist.yml
  buildconfig/Setup.Android.SDL2.in
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  buildconfig/config_darwin.py
  buildconfig/config_emsdk.py
  buildconfig/config_unix.py
  buildconfig/config_win.py
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/libwebp/build-webp.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  docs/reST/ref/image.rst
  examples/data/purple.qoi
  src_c/imageext.c
  test/image_test.py
  test/test_utils/test_runner.py
Labels: dependencies, image, SDL_Image 2.6.0+

#2560 Add Circle `colliderect()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/collisions.c
  src_c/collisions.h
  src_c/doc/geometry_doc.h
  src_c/geometry.c
  test/geometry_test.py
Labels: New API, geometry

#2588 Multiline more examples
  examples/textinput.py
  examples/vgrade.py
Labels: examples

#2575 Set default convert format when `Window.get_surface()` is called
  src_c/_pygame.h
  src_c/base.c
  src_c/include/_pygame.h
  src_c/surface.c
  src_c/window.c
  test/surface_test.py
Labels: Surface, window

#2604 Move Window to pygame.window.Window namespace
  buildconfig/Setup.Android.SDL2.in
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/_sdl2/video.pyi
  buildconfig/stubs/pygame/window.pyi
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pxd
  src_c/display.c
  src_c/include/_pygame.h
  src_c/static.c
  src_c/window.c
  src_py/__init__.py
  src_py/__pyinstaller/hook-pygame.py
  test/window_test.py
Labels: window

#2614 Fix Circle update() docs
  docs/reST/ref/geometry.rst
Labels: docs, bugfix, geometry

#2608 Test PBM and LBM images, test and document XCF
  docs/reST/ref/image.rst
  examples/data/magenta.lbm
  examples/data/tomato.xcf
  examples/data/white.pbm
  test/image_test.py
Labels: docs, tests, image

#2607 Public docs for Window
  docs/reST/ref/sdl2_video.rst
  docs/reST/ref/window.rst
  src_c/doc/sdl2_video_doc.h
  src_c/doc/window_doc.h
  src_c/window.c
Labels: docs, video, window

#2617 Remove Window API that will be questionable in SDL3
  buildconfig/stubs/pygame/window.pyi
  docs/reST/ref/window.rst
  src_c/doc/window_doc.h
  src_c/window.c
Labels: sdl3, window

#2606 Fix file-like `close` not called in freetype (Removed `pgRWops_ReleaseObject` and replaced usage with `SDL_RWclose`)
  docs/reST/c_api/rwobject.rst
  src_c/_freetype.c
  src_c/_pygame.h
  src_c/include/_pygame.h
  src_c/rwobject.c
  src_c/static.c
Labels: rwops, freetype

#2624 Deprecate from_display_module
  docs/reST/ref/window.rst
  src_c/window.c
Labels: docs, window

#2620 Implement `pygame.image.load_sized_svg`
  buildconfig/stubs/pygame/image.pyi
  docs/reST/ref/image.rst
  src_c/doc/image_doc.h
  src_c/image.c
  src_c/imageext.c
  test/image_test.py
Labels: New API, image

#2618 Update always_on_top doc (it's not x11 only)
  docs/reST/ref/window.rst
Labels: docs, window

#2627 Push window out of 2.4.0
  docs/reST/ref/window.rst
  docs/reST/themes/classic/elements.html
Labels: docs, window
