Repository pygame-community/pygame-ce, pull requests merged in 2023-10, with the labels that each got.

#2482 WASM: add required PyObject *_null parameter to remaining functions marked with METH_NOARGS in math.c and color.c
  src_c/color.c
  src_c/math.c
Labels: Code quality/robustness

#2481 Add PG_CreateSurface(From) for SDL2/3 compat
  src_c/_camera.c
  src_c/_pygame.h
  src_c/display.c
  src_c/font.c
  src_c/freetype/ft_render.c
  src_c/image.c
  src_c/pixelarray_methods.c
  src_c/pixelcopy.c
  src_c/rotozoom.c
  src_c/surface.c
  src_c/transform.c
Labels: sdl3

#2487 Remove redundant check in pg_ResizeEventWatch
  src_c/display.c
Labels: Code quality/robustness, display

#2490 Deprecate set_mode depth argument
  docs/reST/ref/display.rst
  src_c/display.c
  test/display_test.py
Labels: Deprecation Warning, display

#2371 Enhancement/font/check initialization
  src_c/_freetype.c
  src_c/_pygame.h
  src_c/font.c
  src_c/freetype.h
  test/font_test.py
  test/freetype_test.py
Labels: font, freetype, bugfix

#2483 Port SDL_ShowCursor to SDL3
  src_c/_pygame.h
  src_c/event.c
  src_c/mouse.c
Labels: event, mouse, sdl3

#2484 Use SDL_MOUSE_TOUCH_EVENTS in touch test and docs
  docs/reST/ref/pygame.rst
  test/touch_test.py
Labels: touch

#2499 We no longer have any OBJ-c source, remove tag mention
  setup.py
Labels: docs

#2500 Fix SDL_ConvertSurface(Format) for SDL3
  src_c/_pygame.h
  src_c/imageext.c
  src_c/pixelarray_methods.c
  src_c/surface.c
Labels: Surface, sdl3

#2041 Optimized `Rect/FRect` `pgRect_FromObject`
  src_c/rect_impl.h
Labels: Performance, rect

#2501 Port last SDL_CreateRGBSurface calls to SDL3-safe PG_CreateSurface
  src_c/image.c
  src_c/surface.c
Labels: Surface, sdl3

#2504 Fix grub-efi-amd64-signed installation failures on Ubuntu 20.04 CI builds
  .github/workflows/build-ubuntu-sdist.yml
  .github/workflows/cppcheck.yml
Labels: CI

#2477 Strip the leading SDL_ from the pixel format name
  buildconfig/stubs/pygame/display.pyi
  docs/reST/ref/display.rst
  src_c/display.c
Labels: display

#2502 Remove RDTSC key because detection removed in SDL3
  buildconfig/stubs/pygame/system.pyi
  docs/reST/ref/system.rst
  src_c/system.c
Labels: system, sdl3

#2165 Implemented `(F)Rect.move_to`
  buildconfig/stubs/pygame/rect.pyi
  docs/reST/ref/rect.rst
  src_c/doc/rect_doc.h
  src_c/rect.c
  src_c/rect_impl.h
  test/rect_test.py
Labels: New API, rect

#2268 `geometry` module, `Circle` base
  buildconfig/Setup.Android.SDL2.in
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ext/boilerplate.py
  docs/reST/ref/geometry.rst
  docs/reST/themes/classic/elements.html
  src_c/_pygame.h
  src_c/base.c
  src_c/circle.c
  src_c/doc/geometry_doc.h
  src_c/geometry.c
  src_c/geometry.h
  src_c/include/_pygame.h
  src_c/static.c
  test/geometry_test.py
Labels: New API, geometry

#2418 Fix caution visual bug for dark theme
  docs/reST/themes/classic/static/pygame.css_t
  docs/reST/themes/classic/theme.conf
Labels: docs

#2508 run clang-format on the vendored contents of SDL_gfx/
  setup.py
  src_c/SDL_gfx/SDL_gfxPrimitives.c
  src_c/SDL_gfx/SDL_gfxPrimitives.h
  src_c/SDL_gfx/SDL_gfxPrimitives_font.h
Labels: Code quality/robustness

#2511 Add docs for windows DPI awareness hint
  docs/reST/ref/pygame.rst
Labels: docs, Windows

#2465 Optimized `pgRect_FromObject`
  src_c/rect.c
  src_c/rect_impl.h
Labels: Performance, rect

#2427 `display.message_box()`
  buildconfig/stubs/pygame/display.pyi
  docs/reST/ref/display.rst
  src_c/display.c
  src_c/doc/display_doc.h
  src_c/static.c
  src_c/window.c
  test/display_test.py
Labels: New API, display

#2379 Window grab API rework
  buildconfig/stubs/pygame/_window.pyi
  docs/reST/ref/sdl2_video.rst
  src_c/doc/sdl2_video_doc.h
  src_c/window.c
  test/window_test.py
Labels: New API, _sdl2

#2520 Fix problems caused by #2379
  docs/reST/ref/sdl2_video.rst
  test/window_test.py
Labels: docs, tests

#2521 Update pygame.examples.go_over_there for Python 3.12
  examples/go_over_there.py
Labels: examples, bugfix

#2492 Fix issue #2109: Added requested tests
  test/surface_test.py
Labels: Surface

#2471 Make mpg123, fluidsynth and sndfile not link directly to lower-level audio playback libs
  buildconfig/manylinux-build/docker_base/fluidsynth/build-fluidsynth.sh
  buildconfig/manylinux-build/docker_base/mpg123/build-mpg123.sh
  buildconfig/manylinux-build/docker_base/sndfile/build-sndfile.sh
Labels: dependencies, MacOS, Gnu/Linux, Wheels

#2525 Add docs for "devicename" parameter in 'pygame.mixer.init()'
  docs/reST/ref/mixer.rst
Labels: docs, mixer

#2486 Remove the unused Surface param from convert alpha docs
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/doc/surface_doc.h
  src_c/surface.c
  test/surface_test.py
Labels: Deprecation Warning, Surface

#2527 changed to wording in order to make it more clear
  docs/reST/ref/event.rst
Labels: docs, event

#2491 Fix issue #2446: rotozoom keeps the colorkey flag.
  src_c/_pygame.h
  src_c/rotozoom.c
  src_c/transform.c
  test/transform_test.py
Labels: transform, bugfix
