Repository pygame-community/pygame-ce, pull requests merged in 2024-11, with the labels that each got.

#3171 Start getting base module ready for SDL3
  src_c/_pygame.h
  src_c/base.c
  src_c/include/_pygame.h
  src_c/meson.build
  src_c/surface.c
  src_c/window.c
Labels: sdl3

#3203 Bump SDL2 to 2.30.9 and SDL3 to 3.1.6
  buildconfig/download_win_prebuilt.py
  buildconfig/macdependencies/clean_usr_local.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies

#3204 Correct draw.aaline docs
  docs/reST/ref/draw.rst
Labels: docs, draw

#3205 Fix window docs
  docs/reST/ref/window.rst
Labels: docs, window

#3138 Add Russian readme
  README.rst
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.it.rst
  docs/readmes/README.ja.rst
  docs/readmes/README.ru.rst
  docs/readmes/README.zh-cn.rst
Labels: docs

#3213 Raise minimum supported SDL2 to 2.0.14
  README.rst
  docs/reST/ref/event.rst
  docs/reST/ref/joystick.rst
  docs/reST/ref/sdl2_controller.rst
  docs/reST/ref/system.rst
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.it.rst
  docs/readmes/README.ja.rst
  docs/readmes/README.ru.rst
  docs/readmes/README.zh-cn.rst
  src_c/_camera.c
  src_c/_pygame.h
  src_c/_sdl2/controller.c
  src_c/constants.c
  src_c/display.c
  src_c/event.c
  src_c/font.c
  src_c/include/pgcompat.h
  src_c/pixelcopy.c
  src_c/surface.c
  src_c/system.c
Labels: dependencies, SDL

#3212 Use SequenceLike in geometry stubs
  buildconfig/stubs/pygame/geometry.pyi
Labels: type hints, geometry

#3164 Allow all color types mask.from_threshold and fix typing for PixelArray methods
  buildconfig/stubs/pygame/pixelarray.pyi
  docs/reST/ref/mask.rst
  src_c/mask.c
  test/mask_test.py
  test/pixelarray_test.py
Labels: PixelArray, bugfix

#3224 Batch and error check allocations
  src_c/draw.c
  src_c/transform.c
Labels: Code quality/robustness, transform, draw

#3231 fixing grammar
  docs/reST/ref/surface.rst
Labels: docs

#3233 Fix SDL3 CI apt issues
  .github/workflows/build-sdl3.yml
Labels: CI

#3226 Utility Window implementation.
  buildconfig/stubs/pygame/window.pyi
  docs/reST/ref/window.rst
  src_c/doc/window_doc.h
  src_c/window.c
  test/window_test.py
Labels: enhancement, New API, sdl3, window

#3143 Drop python 3.8 support
  README.rst
  buildconfig/stubs/pygame/_debug.pyi
  buildconfig/stubs/pygame/_sdl2/audio.pyi
  buildconfig/stubs/pygame/_sdl2/controller_old.pyi
  buildconfig/stubs/pygame/_sdl2/touch.pyi
  buildconfig/stubs/pygame/_sdl2/video.pyi
  buildconfig/stubs/pygame/base.pyi
  buildconfig/stubs/pygame/bufferproxy.pyi
  buildconfig/stubs/pygame/camera.pyi
  buildconfig/stubs/pygame/color.pyi
  buildconfig/stubs/pygame/cursors.pyi
  buildconfig/stubs/pygame/display.pyi
  buildconfig/stubs/pygame/event.pyi
  buildconfig/stubs/pygame/font.pyi
  buildconfig/stubs/pygame/freetype.pyi
  buildconfig/stubs/pygame/geometry.pyi
  buildconfig/stubs/pygame/image.pyi
  buildconfig/stubs/pygame/joystick.pyi
  buildconfig/stubs/pygame/key.pyi
  buildconfig/stubs/pygame/mask.pyi
  buildconfig/stubs/pygame/math.pyi
  buildconfig/stubs/pygame/midi.pyi
  buildconfig/stubs/pygame/mixer.pyi
  buildconfig/stubs/pygame/mixer_music.pyi
  buildconfig/stubs/pygame/mouse.pyi
  buildconfig/stubs/pygame/pixelarray.pyi
  buildconfig/stubs/pygame/rect.pyi
  buildconfig/stubs/pygame/rwobject.pyi
  buildconfig/stubs/pygame/scrap.pyi
  buildconfig/stubs/pygame/sndarray.pyi
  buildconfig/stubs/pygame/sprite.pyi
  buildconfig/stubs/pygame/surface.pyi
  buildconfig/stubs/pygame/surfarray.pyi
  buildconfig/stubs/pygame/system.pyi
  buildconfig/stubs/pygame/transform.pyi
  buildconfig/stubs/pygame/typing.pyi
  buildconfig/stubs/pygame/version.pyi
  buildconfig/stubs/pygame/window.pyi
  docs/reST/ref/sprite.rst
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.it.rst
  docs/readmes/README.ja.rst
  docs/readmes/README.ru.rst
  docs/readmes/README.zh-cn.rst
  examples/stars.py
  examples/textinput.py
  pyproject.toml
  setup.cfg
  setup.py
  src_c/cython/pygame/_sdl2/audio.pyx
  src_c/doc/sprite_doc.h
  src_py/_debug.py
  src_py/pkgdata.py
  src_py/typing.py
Labels: Code quality/robustness, dependencies

#3246 updated 'in' operator for sys.platform linux check
  src_py/camera.py
Labels: Code quality/robustness
