Repository pygame-community/pygame-ce, pull requests merged in 2024-01, with the labels that each got.

#2561 Add Circle `move()`/`move_ip()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/doc/geometry_doc.h
  test/geometry_test.py
Labels: New API, geometry

#2601 Improve performance of SSE2 no_surf_alpha_opaque_dst blitter
  src_c/simd_blitters_sse2.c
Labels: ARM, Performance, SIMD, Surface

#2647 Don't skip tests if "optional" modules are absent
  test/freetype_tags.py
  test/freetype_test.py
  test/ftfont_tags.py
  test/image_tags.py
  test/imageext_tags.py
  test/mixer_music_tags.py
  test/mixer_tags.py
  test/sndarray_tags.py
  test/surfarray_tags.py
Labels: tests

#2653 support emsdk >3.1.51
  buildconfig/Setup.Emscripten.SDL2.in
Labels: WebAssembly

#2660 Fix Circle move docs
  docs/reST/ref/geometry.rst
Labels: docs, bugfix, geometry

#2642 Remove shuffle masks in AVX fillers
  src_c/simd_surface_fill_avx2.c
Labels: Code quality/robustness, SIMD

#2633 Improved `Window.flip` error message when no surface is associated with the `Window`
  src_c/window.c
  test/window_test.py
Labels: window

#2667 Fix segfault in `surface.fblits`
  src_c/surface.c
  test/blit_test.py
Labels: Surface, bugfix

#2674 Update to SDL_image 2.8.2
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
Labels: dependencies

#2678 Fix sysfont bold italic
  src_py/sysfont.py
  test/sysfont_test.py
Labels: sysfont, bugfix

#2679 Reduced redundancy in `surface.fblits` code and handled generator exception
  src_c/surface.c
  test/blit_test.py
Labels: Code quality/robustness, Surface

#2665 Decref an object because cython increfed it [memory leak]
  src_c/_sdl2/video.c
  src_c/cython/pygame/_sdl2/video.pyx
  test/video_test.py
Labels: _sdl2, bugfix

#2697 Fix formatting for latest black version
  examples/go_over_there.py
  test/math_test.py
  test/test_utils/buftools.py
Labels: CI

#2666 Further deprecation of deprecated sprite groups
  docs/reST/ref/sprite.rst
  docs/reST/tutorials/en/intro-to-sprites.rst
  docs/reST/tutorials/en/tom-games6.rst
  docs/reST/tutorials/es/ChimpanceLineaporLinea.rst
  src_c/doc/sprite_doc.h
  src_py/sprite.py
  test/sprite_test.py
Labels: sprite

#2704 Fix Window parameter name allow_highdpi -> allow_high_dpi
  docs/reST/ref/window.rst
Labels: docs, window
