Repository pygame-community/pygame-ce, pull requests merged in 2024-08, with the labels that each got.

#3034 Update SDL to 2.30.6
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies

#3031 Skip yet another flaky pypy test
  test/window_test.py
Labels: tests

#3046 Fixed a couple of versionadded tags that should have been versionaddedold in `display` docs
  docs/reST/ref/display.rst
Labels: docs

#3059 Fix imposter opengl
  src_c/window.c
Labels: bugfix, window

#3054 Add `Window.flash(operation)`
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/constants.pyi
  buildconfig/stubs/pygame/locals.pyi
  buildconfig/stubs/pygame/window.pyi
  docs/reST/ref/window.rst
  src_c/constants.c
  src_c/doc/window_doc.h
  src_c/window.c
  test/window_test.py
Labels: New API, window

#3002 Add pygame.typing module
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/mypy_allow_list.txt
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/_common.pyi
  buildconfig/stubs/pygame/_sdl2/video.pyi
  buildconfig/stubs/pygame/camera.pyi
  buildconfig/stubs/pygame/color.pyi
  buildconfig/stubs/pygame/cursors.pyi
  buildconfig/stubs/pygame/display.pyi
  buildconfig/stubs/pygame/draw.pyi
  buildconfig/stubs/pygame/event.pyi
  buildconfig/stubs/pygame/font.pyi
  buildconfig/stubs/pygame/freetype.pyi
  buildconfig/stubs/pygame/geometry.pyi
  buildconfig/stubs/pygame/gfxdraw.pyi
  buildconfig/stubs/pygame/image.pyi
  buildconfig/stubs/pygame/key.pyi
  buildconfig/stubs/pygame/mask.pyi
  buildconfig/stubs/pygame/math.pyi
  buildconfig/stubs/pygame/midi.pyi
  buildconfig/stubs/pygame/mixer.pyi
  buildconfig/stubs/pygame/mixer_music.pyi
  buildconfig/stubs/pygame/mouse.pyi
  buildconfig/stubs/pygame/pixelarray.pyi
  buildconfig/stubs/pygame/rect.pyi
  buildconfig/stubs/pygame/rwobject.pyi
  buildconfig/stubs/pygame/sprite.pyi
  buildconfig/stubs/pygame/surface.pyi
  buildconfig/stubs/pygame/transform.pyi
  buildconfig/stubs/pygame/typing.pyi
  buildconfig/stubs/pygame/window.pyi
  buildconfig/stubs/stubcheck.py
  buildconfig/stubs/typing_sample_app.py
  docs/reST/index.rst
  docs/reST/ref/typing.rst
  src_c/doc/typing_doc.h
  src_py/__init__.py
  src_py/meson.build
  src_py/typing.py
Labels: New API, type hints

#3048 Use PyObject_Vectorcall in rect
  src_c/rect_impl.h
Labels: Performance, rect

#2975 Version-getters SDL2/SDL3
  src_c/_pygame.h
  src_c/base.c
  src_c/font.c
  src_c/imageext.c
  src_c/mixer.c
Labels: sdl3

#2990 Coverage CI created, hopefully it works first time lol
  .github/workflows/build-ubuntu-coverage.yml
  meson.build
  meson_options.txt
Labels: Code quality/robustness, tests, CI

#3067 Optimized `Rect.clipline()`
  src_c/rect.c
  src_c/rect_impl.h
Labels: Performance, rect

#3072 Optimized tuple creation for Rect getters
  src_c/rect_impl.h
Labels: Performance, rect

#3077 Update `FRect` repr to handle larger values
  src_c/rect.c
  test/rect_test.py
Labels: rect, bugfix

#3076 Fix average_color docs and stubs to match implementation
  buildconfig/stubs/pygame/display.pyi
  buildconfig/stubs/pygame/surface.pyi
  buildconfig/stubs/pygame/transform.pyi
  docs/reST/ref/transform.rst
  src_c/doc/transform_doc.h
Labels: docs, type hints, transform

#2056 Port the controller module to C.
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  buildconfig/stubs/mypy_allow_list.txt
  buildconfig/stubs/pygame/_sdl2/controller.pyi
  docs/reST/ref/sdl2_controller.rst
  examples/eventlist.py
  src_c/_sdl2/controller.c
  src_c/_sdl2/meson.build
  src_c/doc/sdl2_controller_doc.h
  src_c/event.c
  src_c/static.c
  src_py/_sdl2/controller.py
  src_py/_sdl2/meson.build
  test/controller_test.py
Labels: Code quality/robustness, _sdl2, controller

#2992 Fix break when the OS resizes our window in `set_mode`
  src_c/display.c
  test/display_test.py
Labels: Gnu/Linux, display, bugfix, needs testing

#3068 Make experimental API not hidden in the docs anymore
  docs/reST/index.rst
  docs/reST/themes/classic/elements.html
Labels: docs

#3069 `Vector{2,3}.__delattr__` messaging fixed when deleting `x, y, {z}` and removed `Vector4` zombies
  src_c/math.c
  test/math_test.py
Labels: math

#3086 Make `pygame.typing.PathLike` internal/private
  buildconfig/stubs/pygame/rwobject.pyi
  buildconfig/stubs/pygame/typing.pyi
  buildconfig/stubs/typing_sample_app.py
  docs/reST/ref/typing.rst
  src_c/doc/typing_doc.h
  src_py/typing.py
Labels: type hints
