Repository pygame-community/pygame-ce, pull requests merged in 2024-02, with the labels that each got.

#2656 Partially refactor SSE2 blitters with macros
  src_c/simd_blitters_sse2.c
Labels: Code quality/robustness, Performance, SIMD, Surface

#2644 removed use of depth param in examples
  examples/aliens.py
  examples/arraydemo.py
  examples/blend_fill.py
  examples/testsprite.py
  examples/vgrade.py
Labels: Deprecation Warning, examples

#2705 SDL 2.30.0
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  src_c/surface.c
Labels: dependencies, SDL

#2690 SDL 2.29.3 pre-release
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  src_c/surface.c
Labels: dont merge

#2602 Implement pitch argument for image.tobytes()
  buildconfig/stubs/pygame/image.pyi
  docs/reST/ref/image.rst
  src_c/doc/image_doc.h
  src_c/image.c
  test/image_test.py
Labels: image

#2707 transform.scale: softstretch SDL2/SDL3 compat
  src_c/_pygame.h
  src_c/transform.c
Labels: transform, sdl3

#2708 Add missing special_flags links
  docs/reST/ref/surface.rst
Labels: docs

#2709 Add missing geometry versionadded tags
  docs/reST/ref/geometry.rst
Labels: docs, geometry

#2712 SDL2/SDL3 mutex support
  src_c/_pygame.h
  src_c/event.c
  src_c/time.c
Labels: sdl3

#2634 Add Circle `as_rect()`/`as_frect()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/doc/geometry_doc.h
  test/geometry_test.py
Labels: New API, geometry

#2703 Bump SDL_mixer to 2.8.0 (Adds wavpack support)
  buildconfig/config_win.py
  buildconfig/download_win_prebuilt.py
  buildconfig/macdependencies/build_mac_deps.sh
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
  buildconfig/manylinux-build/docker_base/libxmp/build-libxmp.sh
  buildconfig/manylinux-build/docker_base/libxmp/libxmp.sha512
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  buildconfig/manylinux-build/docker_base/wavpack/build-wavpack.sh
  buildconfig/manylinux-build/docker_base/wavpack/wavpack.sha512
  docs/reST/ref/mixer.rst
  docs/reST/ref/music.rst
  examples/data/MIDI_sample.mid
  examples/data/attributions.txt
  examples/data/house_lo.flac
  examples/data/house_lo.opus
  examples/data/house_lo.wv
  src_c/music.c
  test/mixer_music_test.py
  test/mixer_test.py
Labels: dependencies, mixer, mixer.music

#2662 Add Circle `rotate()` / `rotate_ip()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/doc/geometry_doc.h
  src_c/geometry.h
  test/geometry_test.py
Labels: New API, geometry

#2661 Add Circle `collideswith()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/doc/geometry_doc.h
  test/geometry_test.py
Labels: New API, geometry

#2732 Deleted a space in geometry docs
  docs/reST/ref/geometry.rst
Labels: docs
