Repository pygame-community/pygame-ce, pull requests merged in 2024-09, with the labels that each got.

#3094 Updated SDL version to 2.30.7
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies

#3098 Fix test_inflate_ip__larger.
  test/rect_test.py
Labels: tests, bugfix

#3071 Add `Circle.intersect()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/doc/geometry_doc.h
  src_c/geometry_common.c
  src_c/geometry_common.h
  src_c/include/_pygame.h
  test/geometry_test.py
Labels: New API, geometry

#3102 Remove RGBATuple
  buildconfig/stubs/pygame/surface.pyi
  buildconfig/stubs/pygame/transform.pyi
  buildconfig/stubs/pygame/typing.pyi
  buildconfig/stubs/typing_sample_app.py
  docs/reST/ref/typing.rst
  src_c/doc/typing_doc.h
  src_py/typing.py
Labels: type hints

#3084 Enhance `pygame.mouse.get_pressed` docs
  docs/reST/ref/mouse.rst
Labels: docs, mouse

#3008 Fix segfault with antialiased draw functions with a depth different than 32bits
  src_c/draw.c
  test/draw_test.py
Labels: draw, bugfix, segfault

#3119 Update the dependency section of zh-cn README
  docs/readmes/README.zh-cn.rst
Labels: docs

#3115 added example on how Window behaves with WINDOWCLOSE and QUIT events
  docs/reST/ref/window.rst
Labels: docs, window

#3117 Fix editable install on windows
  .gitignore
  buildconfig/_meson_win_dll.py
  meson.build
  src_py/__init__.py
Labels: dependencies, Windows, meson

#2880 Add `Circle.collidelist/collidelistall()`
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/doc/geometry_doc.h
  test/geometry_test.py
Labels: New API, geometry

#3018 Fix midi timer reset when quit
  src_c/cython/pygame/pypm.pyx
Labels: tests, midi

#3129 Make `copy` methods explicit for linting
  buildconfig/stubs/pygame/cursors.pyi
  buildconfig/stubs/pygame/geometry.pyi
  buildconfig/stubs/pygame/mask.pyi
  buildconfig/stubs/pygame/math.pyi
  buildconfig/stubs/pygame/rect.pyi
  buildconfig/stubs/pygame/surface.pyi
  src_py/cursors.py
Labels: Code quality/robustness, type hints

#3124 Fix a compiler warning in debug mode
  src_c/surface.c
Labels: Code quality/robustness

#3125 Set error when too many numbers of argument in ``pygame.Color.from_colorspace``
  src_c/color.c
  test/color_test.py
Labels: color, bugfix
