Repository pygame-community/pygame-ce, pull requests merged in 2024-07, with the labels that each got.

#2899 Add `Surface.premul_alpha_ip()`
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/doc/surface_doc.h
  src_c/surface.c
  test/surface_test.py
Labels: Performance, New API, Surface

#2969 SDL 2.30.5
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies, SDL

#2971 Make pyproject license consistent with `setup.py`
  pyproject.toml
  setup.py
Labels: buildconfig, docs

#2972 Fix `premul_alpha_ip` doc indentation issue
  docs/reST/ref/surface.rst
Labels: docs, Surface

#2965 Add new official logos for pygame - Community Edition
  README.rst
  docs/reST/_static/pygame_ce_lofi.png
  docs/reST/_static/pygame_ce_lofi.svg
  docs/reST/_static/pygame_ce_logo.png
  docs/reST/_static/pygame_ce_logo.svg
  docs/reST/_static/pygame_ce_powered.png
  docs/reST/_static/pygame_ce_powered.svg
  docs/reST/_static/pygame_ce_powered_lowres.png
  docs/reST/_static/pygame_ce_tiny.png
  docs/reST/_static/pygame_lofi.png
  docs/reST/_static/pygame_lofi.svg
  docs/reST/_static/pygame_logo.png
  docs/reST/_static/pygame_logo.svg
  docs/reST/_static/pygame_powered.png
  docs/reST/_static/pygame_powered.svg
  docs/reST/_static/pygame_powered_lowres.png
  docs/reST/_static/pygame_tiny.png
  docs/reST/_static/upstream_logos.zip
  docs/reST/conf.py
  docs/reST/logos.rst
  docs/reST/themes/classic/static/pygame.css_t
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.zh-cn.rst
Labels: docs

#2974 Use PyObject_CallMethod in resource loaders
  src_c/_freetype.c
  src_c/display.c
  src_c/font.c
  src_c/window.c
Labels: Code quality/robustness

#2959 Get rid of docscomments.js from docs
  docs/reST/themes/classic/elements.html
Labels: docs

#2973 Remove obsolete surflock functions
  docs/reST/c_api/surflock.rst
  src_c/_pygame.h
  src_c/include/_pygame.h
  src_c/static.c
  src_c/surflock.c
Labels: Code quality/robustness, Surface

#2980 Ensure `.premul_alpha_ip()` works with zero sized Surfaces
  src_c/surface.c
  test/surface_test.py
Labels: Surface, bugfix

#2978 Restore inlining for `.fblits()` internal functionality
  src_c/surface.c
Labels: Performance, Surface

#2895 Optimized `mask.from_surface()` when converting an alpha surface.
  src_c/mask.c
Labels: Performance, mask

#2925 Fix scaled-after-non-scaled usage
  src_c/display.c
Labels: display, bugfix

#2908 Optimized all `Rect/FRect` methods via `pgRect_FromObject`
  src_c/rect.c
  src_c/rect_impl.h
Labels: Performance, rect

#2581 General example changes
  docs/reST/tutorials/en/chimp-explanation.rst
  examples/aacircle.py
  examples/aliens.py
  examples/chimp.py
  examples/dropevent.py
  examples/liquid.py
  examples/music_drop_fade.py
  examples/playmus.py
  examples/resizing_new.py
  examples/scaletest.py
Labels: examples

#2989 python -m buildconfig now works again...
  buildconfig/config.py
Labels: buildconfig, bugfix

#2995 Use python 3.8 isms in the type stubs
  buildconfig/stubs/pygame/_common.pyi
  buildconfig/stubs/pygame/color.pyi
  buildconfig/stubs/pygame/cursors.pyi
  buildconfig/stubs/pygame/font.pyi
  buildconfig/stubs/pygame/image.pyi
  buildconfig/stubs/pygame/math.pyi
  buildconfig/stubs/pygame/mouse.pyi
  buildconfig/stubs/pygame/pixelcopy.pyi
  buildconfig/stubs/pygame/rect.pyi
  buildconfig/stubs/pygame/sprite.pyi
  buildconfig/stubs/pygame/surface.pyi
  buildconfig/stubs/pygame/system.pyi
  buildconfig/stubs/pygame/version.pyi
Labels: type hints

#2890 Add license identifier to readme
  README.rst
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.zh-cn.rst
Labels: docs

#2984 Polish stubs with deprecated decorator
  buildconfig/stubs/pygame/color.pyi
  buildconfig/stubs/pygame/display.pyi
  buildconfig/stubs/pygame/freetype.pyi
  buildconfig/stubs/pygame/image.pyi
  buildconfig/stubs/pygame/joystick.pyi
  buildconfig/stubs/pygame/math.pyi
  buildconfig/stubs/pygame/mouse.pyi
  buildconfig/stubs/pygame/scrap.pyi
  buildconfig/stubs/pygame/sndarray.pyi
  buildconfig/stubs/pygame/sprite.pyi
  buildconfig/stubs/pygame/surface.pyi
  buildconfig/stubs/pygame/surfarray.pyi
  buildconfig/stubs/pygame/window.pyi
Labels: Code quality/robustness, docs

#3003 Use `SDL_TTF_VERSION_ATLEAST`
  src_c/font.c
Labels: Code quality/robustness

#3004 Minor correction 🤓
  docs/reST/ref/special_flags_list.rst
Labels: docs

#2987 Support iterable in `display.update`
  buildconfig/stubs/pygame/display.pyi
  docs/reST/ref/display.rst
  src_c/display.c
  src_c/doc/display_doc.h
  test/display_test.py
Labels: enhancement, display

#2994 3.13 source support (removes deprecated functions)
  .pre-commit-config.yaml
  src_c/_camera.c
  src_c/_pygame.h
  src_c/include/pythoncapi_compat.h
  src_c/surface.c
  src_c/surflock.c
  test/font_test.py
Labels: Code quality/robustness

#2945 Centralize CI config and make it more uniform (Adds macOS arm64 pypy CI)
  .circleci/config.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-windows.yml
  pyproject.toml
Labels: CI

#3017 Skip flaky window tests on pypy
  test/window_test.py
Labels: CI, pypy, window

#2966 Adjust tobytes premul formula
  src_c/image.c
  test/image_test.py
Labels: image

#2915 Update OpenGL Viewport when Window resizes
  src_c/window.c
Labels: opengl, window

#3020 Use PyObject_CallNoArgs where applicable
  src_c/base.c
  src_c/geometry_common.c
  src_c/rect_impl.h
  src_c/rwobject.c
Labels: Code quality/robustness

#2960 Changed dark theme slightly to make code more readable in some cases
  docs/reST/themes/classic/static/pygame.css_t
  docs/reST/themes/classic/theme.conf
Labels: docs

#3014 Remove unnecessary pixeloffset member of subsurface data
  src_c/_pygame.h
  src_c/surface.c
  src_c/surflock.c
Labels: Code quality/robustness

#3021 draw.c: better strategy for 24bpp writes
  src_c/draw.c
Labels: Performance, draw
