Repository pygame-community/pygame-ce, pull requests merged in 2024-05, with the labels that each got.

#2835 Use HasColorKey instead of GetColorKey in pgSurface_Blit
  src_c/surface.c
Labels: Performance, Surface

#2837 Updated SDL to 2.30.3
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies, SDL

#2824 Format Python code with ruff format instead of black
  .pre-commit-config.yaml
  examples/aliens.py
  examples/arraydemo.py
  examples/audiocapture.py
  examples/blend_fill.py
  examples/blit_blends.py
  examples/camera.py
  examples/chimp.py
  examples/cursors.py
  examples/dropevent.py
  examples/eventlist.py
  examples/font_viewer.py
  examples/fonty.py
  examples/freetype_misc.py
  examples/glcube.py
  examples/go_over_there.py
  examples/headless_no_windows_needed.py
  examples/liquid.py
  examples/midi.py
  examples/moveit.py
  examples/music_drop_fade.py
  examples/pixelarray.py
  examples/playmus.py
  examples/prevent_display_stretching.py
  examples/scaletest.py
  examples/scrap_clipboard.py
  examples/scroll.py
  examples/setmodescale.py
  examples/sound.py
  examples/sound_array_demos.py
  examples/sprite_texture.py
  examples/stars.py
  examples/testsprite.py
  examples/textinput.py
  examples/vgrade.py
  examples/video.py
  pyproject.toml
  src_py/__init__.py
  src_py/_debug.py
  src_py/colordict.py
  src_py/sprite.py
  src_py/surfarray.py
  src_py/sysfont.py
  test/cursors_test.py
  test/font_test.py
  test/freetype_test.py
  test/rwobject_test.py
Labels: Code quality/robustness, CI

#2494 Bump gh actions mac runners (gets us native M1 builds)
  .circleci/config.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-windows.yml
  buildconfig/macdependencies/README.rst
  buildconfig/macdependencies/build_mac_deps.sh
  buildconfig/macdependencies/clean_usr_local.sh
  buildconfig/macdependencies/macos_arm64.ini
  buildconfig/manylinux-build/docker_base/buildtools/install.sh
  buildconfig/manylinux-build/docker_base/glib/build-glib.sh
  buildconfig/manylinux-build/docker_base/wavpack/build-wavpack.sh
  buildconfig/manylinux-build/docker_base/wavpack/wavpack.sha512
Labels: macOS, CI

#2843 Add explicit check and error for system cursor
  src_c/mouse.c
Labels: cursors, bugfix

#2844 Always call HasColorKey before GetColorKey
  src_c/alphablit.c
  src_c/image.c
  src_c/mask.c
  src_c/pixelcopy.c
  src_c/rotozoom.c
  src_c/surface.c
  src_c/transform.c
Labels: Performance

#2831 Remove cython gen files, generate in meson build
  .github/workflows/build-debian-multiarch.yml
  .github/workflows/build-emsdk.yml
  .github/workflows/build-on-msys2.yml
  .gitignore
  meson.build
  pyproject.toml
  setup.py
  src_c/_sdl2/audio.c
  src_c/_sdl2/controller_old.c
  src_c/_sdl2/meson.build
  src_c/_sdl2/mixer.c
  src_c/_sdl2/sdl2.c
  src_c/_sdl2/video.c
  src_c/meson.build
  src_c/pypm.c
Labels: build, meson

#2784 Optimized ( Rect/Frect ) unionall()/unionall_ip()
  src_c/rect.c
  src_c/rect_impl.h
Labels: Performance, rect

#2742 PixelArray raise error assigning sequence to pixel
  src_c/pixelarray.c
  test/pixelarray_test.py
Labels: PixelArray, bugfix

#2836 Add pygame.mouse.get_just_pressed/released()
  buildconfig/stubs/pygame/mouse.pyi
  docs/reST/c_api/event.rst
  docs/reST/ref/mouse.rst
  src_c/_pygame.h
  src_c/doc/mouse_doc.h
  src_c/event.c
  src_c/include/_pygame.h
  src_c/mouse.c
  test/mouse_test.py
Labels: New API, mouse

#2793 Simplified SIMD fill algorithms
  src_c/simd_surface_fill_avx2.c
  src_c/simd_surface_fill_sse2.c
Labels: Code quality/robustness, SIMD

#2813 Surface properties
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/doc/surface_doc.h
  src_c/surface.c
  test/surface_test.py
Labels: New API, Surface

#2839 relax convert conditions
  docs/reST/ref/surface.rst
  src_c/surface.c
  test/surface_test.py
Labels: enhancement, Surface

#2863 Added shim to fix portmidi break
  src_c/cython/pygame/pypm.pyx
Labels: dependencies, midi, cython

#2659 Window(opengl=True) will now create an OpenGL context
  buildconfig/stubs/pygame/window.pyi
  docs/reST/ref/window.rst
  examples/window_opengl.py
  src_c/doc/window_doc.h
  src_c/include/_pygame.h
  src_c/window.c
  test/window_test.py
Labels: opengl, window

#2816 Add pygame.display.get/set_window_position()
  buildconfig/stubs/pygame/display.pyi
  docs/reST/ref/display.rst
  src_c/display.c
  src_c/doc/display_doc.h
  test/display_test.py
Labels: New API, display

#2800 draw.aacircle()
  buildconfig/stubs/pygame/draw.pyi
  docs/reST/ref/code_examples/draw_module_example.png
  docs/reST/ref/code_examples/draw_module_example.py
  docs/reST/ref/draw.rst
  src_c/doc/draw_doc.h
  src_c/draw.c
  test/draw_test.py
Labels: New API, draw

#2738 Update mixer docs
  docs/reST/ref/mixer.rst
Labels: docs, mixer

#2862 Add a briefcase template to pygame-ce
  buildconfig/stubs/mypy_allow_list.txt
  pyproject.toml
  setup.cfg
  setup.py
  src_py/__briefcase/__init__.py
  src_py/__briefcase/meson.build
  src_py/__briefcase/pygame_ce.py
  src_py/meson.build
Labels: build

#2881 Add warning about 7.1 stereo on set_source_location
  docs/reST/ref/mixer.rst
Labels: docs, mixer

#2888 fix some METH_NOARGS arg missing
  src_c/window.c
Labels: Code quality/robustness
