Repository pygame-community/pygame-ce, pull requests merged in 2024-03, with the labels that each got.

#2717 Cleanup rwobject.c file object methods
  src_c/rwobject.c
Labels: Code quality/robustness, rwops

#1997 Add wayland and kmsdrm support to manylinux wheels
  buildconfig/manylinux-build/README.rst
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
  buildconfig/manylinux-build/docker_base/libdecor/build-libdecor.sh
  buildconfig/manylinux-build/docker_base/libdecor/libdecor.sha512sum
  buildconfig/manylinux-build/docker_base/libffi/build-libffi.sh
  buildconfig/manylinux-build/docker_base/libxml2/build-libxml2.sh
  buildconfig/manylinux-build/docker_base/libxml2/libxml2.sha512
  buildconfig/manylinux-build/docker_base/mesa/flex/build-flex.sh
  buildconfig/manylinux-build/docker_base/mesa/flex/flex.sha512sum
  buildconfig/manylinux-build/docker_base/mesa/glslang/build-glslang.sh
  buildconfig/manylinux-build/docker_base/mesa/glslang/glslang.sha512sum
  buildconfig/manylinux-build/docker_base/mesa/libdrm/build-libdrm.sh
  buildconfig/manylinux-build/docker_base/mesa/libdrm/libdrm.sha512sum
  buildconfig/manylinux-build/docker_base/mesa/mako/build-mako.sh
  buildconfig/manylinux-build/docker_base/mesa/mesa/build-mesa.sh
  buildconfig/manylinux-build/docker_base/mesa/mesa/mesa.sha512sum
  buildconfig/manylinux-build/docker_base/pkg-config/build-pkg-config.sh
  buildconfig/manylinux-build/docker_base/wayland/build-wayland.sh
  buildconfig/manylinux-build/docker_base/wayland/wayland.sha512sum
  buildconfig/manylinux-build/docker_base/xorg/libpciaccess/build-libpciaccess.sh
  buildconfig/manylinux-build/docker_base/xorg/libpciaccess/libpciaccess.sha512sum
  buildconfig/manylinux-build/docker_base/xorg/libxshmfence/build-libxshmfence.sh
  buildconfig/manylinux-build/docker_base/xorg/libxshmfence/libxshmfence.sha512sum
  buildconfig/manylinux-build/docker_base/xorg/macros/build-macros.sh
  buildconfig/manylinux-build/docker_base/xorg/macros/macros.sha512sum
Labels: buildconfig

#2744 Formatting updates using newest version of clang-format
  buildconfig/stubs/pygame/camera.pyi
  docs/reST/ref/camera.rst
  src_c/SDL_gfx/SDL_gfxPrimitives.c
  src_c/color.c
  src_c/doc/camera_doc.h
  src_c/event.c
  src_c/freetype/ft_wrap.c
Labels: dependencies, Formatting

#2748 wasm: unify pygame-web/pyodide/static Freetype init
  src_c/static.c
Labels: font, WebAssembly

#2731 Reorganize geometry internals
  src_c/circle.c
  src_c/collisions.c
  src_c/collisions.h
  src_c/geometry.c
  src_c/geometry.h
  src_c/geometry_common.c
  src_c/geometry_common.h
Labels: Code quality/robustness, geometry

#2743 Undeprecate draw aaline blend
  docs/reST/ref/draw.rst
  src_c/draw.c
  test/draw_test.py
Labels: Deprecation Warning, draw

#2615 AVX2 premul_alpha()
  src_c/alphablit.c
  src_c/simd_blitters.h
  src_c/simd_blitters_avx2.c
Labels: Performance, SIMD, Surface

#2741 Add `mixer.get_driver`
  buildconfig/stubs/pygame/mixer.pyi
  docs/reST/ref/mixer.rst
  src_c/doc/mixer_doc.h
  src_c/mixer.c
  src_py/_debug.py
  test/mixer_test.py
Labels: New API, mixer

#2733 Add pipewire and libsamplerate+fftw3
  buildconfig/manylinux-build/README.rst
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
  buildconfig/manylinux-build/docker_base/libpipewire/build-libpipewire.sh
  buildconfig/manylinux-build/docker_base/libpipewire/libpipewire.sha512
  buildconfig/manylinux-build/docker_base/libsamplerate/build-libsamplerate.sh
  buildconfig/manylinux-build/docker_base/libsamplerate/libsamplerate.sha512
Labels: dependencies, Gnu/Linux

#2761 SDL 2.30.1
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
Labels: dependencies

#2769 Remove undefined variable in aliens.py
  examples/aliens.py
Labels: examples

#2763 Fix ftfont_test being run directly
  test/font_test.py
Labels: Code quality/robustness, ftfont

#2762 Remove pygame.threads
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  setup.py
  src_py/__init__.py
  src_py/threads/__init__.py
  test/image_test.py
  test/test_utils/run_tests.py
  test/threads_test.py
Labels: Code quality/robustness

#2777 Make error messages for using font.align clearer
  src_c/font.c
Labels: enhancement, font
