Repository pygame-community/pygame-ce, pull requests merged in 2024-12, with the labels that each got.

#3230 Draw arc test in draw_test.py
  test/draw_test.py
Labels: tests, draw

#3211 Bump build dependencies and use `dev.py` on msys2/multiarch CI
  .github/workflows/build-debian-multiarch.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-on-msys2.yml
  .github/workflows/build-windows.yml
  dev.py
  pyproject.toml
Labels: CI

#3179 Added ```Line``` methods and ```length``` attribute
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/doc/geometry_doc.h
  src_c/geometry_common.c
  src_c/geometry_common.h
  src_c/line.c
  test/geometry_test.py
Labels: New API, geometry

#3248 Fix failing tests: change `Tuple[float, float]` to `Point` in `geometry.pyi`
  buildconfig/stubs/pygame/geometry.pyi
Labels: type hints, bugfix

#3234 Deprecate `Window` `foreign` kwarg and `Window.focus` `input_only` kwarg
  docs/reST/ref/window.rst
  src_c/window.c
Labels: Deprecation Warning, sdl3, window

#3257 Add missing newline in sndarray.rst and cursors.rst
  docs/reST/ref/cursors.rst
  docs/reST/ref/sndarray.rst
Labels: docs

#3258 Add BLENDMODE_MUL to constants
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/constants.pyi
  buildconfig/stubs/pygame/locals.pyi
  src_c/constants.c
  src_c/cython/pygame/_sdl2/video.pxd
Labels: New API, bugfix

#3263 this statement seems to be false, removing
  docs/reST/ref/surface.rst
Labels: docs

#3261 Bump SDL2 to 2.30.10
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies, SDL

#3266 Typo fixes
  buildconfig/stubs/stubcheck.py
  docs/reST/ref/draw.rst
  docs/reST/ref/window.rst
  examples/ninepatch.py
  src_c/_sdl2/controller.c
  src_c/doc/window_doc.h
  src_c/simd_transform_avx2.c
  src_c/window.c
Labels: Formatting

#3264 Correct `pygame.display` stubs
  buildconfig/stubs/pygame/display.pyi
  docs/reST/ref/display.rst
  src_c/doc/display_doc.h
Labels: type hints, display

#3272 Docs updates (mainly to mixer)
  docs/reST/ref/image.rst
  docs/reST/ref/mixer.rst
  docs/reST/ref/surfarray.rst
Labels: docs, mixer

#3271 Bump SDL2_image to 2.8.3
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies

#3113 add and modified readme for Traditional Chinese.
  docs/readmes/README.zh-tw.rst
Labels: docs

#3262 Port imageext.c to SDL3(_image)
  .github/workflows/build-sdl3.yml
  buildconfig/download_win_prebuilt.py
  dev.py
  meson.build
  src_c/imageext.c
  src_c/meson.build
Labels: image, sdl3

#3053 Add runtime support for `pygame.sprite.AbstractGroup` subscripts
  buildconfig/stubs/pygame/sprite.pyi
  src_py/sprite.py
  test/sprite_test.py
Labels: sprite

#3188 Generate reST/ref docs from python or stub files, move time and cursors docs
  .github/workflows/build-debian-multiarch.yml
  buildconfig/stubs/gen_stubs.py
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/time.pyi
  docs/reST/conf.py
  docs/reST/ext/documenters.py
  docs/reST/ext/indexer.py
  docs/reST/ref/cursors.rst
  docs/reST/ref/time.rst
  pyproject.toml
  src_c/doc/cursors_doc.h
  src_c/doc/time_doc.h
  src_py/camera.py
  src_py/cursors.py
Labels: docs
