Repository pygame-community/pygame-ce, pull requests merged in 2024-06, with the labels that each got.

#2896 Add missing check in SSE2 alpha blitter
  src_c/simd_blitters_sse2.c
Labels: SIMD, Surface, bugfix

#2898 Add a delta of 2 ms to test_music_pause__unpause()
  test/mixer_music_test.py
Labels: tests

#2654 ``invlerp`` and ``remap`` implementation
  buildconfig/stubs/pygame/math.pyi
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
  src_c/math.c
  test/math_test.py
Labels: New API, math

#2900 fixed indentation of surface attributes
  docs/reST/ref/surface.rst
Labels: docs

#2902 Minor docs/stubs improvements in `invlerp`/`remap`
  buildconfig/stubs/pygame/math.pyi
  docs/reST/ref/math.rst
  src_c/doc/math_doc.h
Labels: docs

#2901 Update docs of `Surface.get_(f)rect()` and `(F)Rect.move_to()`
  docs/reST/ref/rect.rst
  docs/reST/ref/surface.rst
Labels: docs

#2897 Add SSE2, AVX2 & NEON support to `pygame.print_debug_info()`
  src_py/_debug.py
Labels: enhancement

#2918 Update transform.get/set_smoothscale_backend typehint from str to Literal
  buildconfig/stubs/pygame/transform.pyi
Labels: type hints

#2910 Contribution Section Added to README.rst
  README.rst
Labels: docs

#2919 Update punctuation in some docs
  docs/README.md
Labels: docs

#2922 More SDL3 compat: Surface things
  src_c/_pygame.h
  src_c/draw.c
  src_c/rotozoom.c
  src_c/surface.c
  src_c/transform.c
Labels: sdl3

#2928 Remove SDL v1.2.10 checks in display.c
  src_c/display.c
Labels: Code quality/robustness, sdl3

#2911 pygame.Surface docs improvements
  docs/reST/ref/surface.rst
  src_c/doc/surface_doc.h
Labels: docs, Surface

#2940 EventState SDL3 compat
  src_c/_pygame.h
  src_c/event.c
  src_c/joystick.c
Labels: event, sdl3

#2723 Fix passing `parent_window=None` to `message_box`
  docs/reST/ref/display.rst
  src_c/display.c
  test/display_test.py
Labels: bugfix

#2948 Fix transform.hsl() to work on any Surface
  src_c/transform.c
  test/transform_test.py
Labels: transform, bugfix

#2913 Allow degenerate circles (radius = 0)
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/geometry_common.c
  test/geometry_test.py
Labels: geometry

#2953 Improve `PixelArray.make_surface()` performance
  src_c/pixelarray_methods.c
Labels: Performance, PixelArray

#2939 Fix `Surface.fill` with rects with negative positions that overlap the surface
  docs/reST/ref/surface.rst
  src_c/surface.c
  test/surface_test.py
Labels: Surface, bugfix

#2951 Add ABGR format to frombytes and tobytes
  buildconfig/stubs/pygame/image.pyi
  docs/reST/ref/image.rst
  src_c/image.c
  test/image_test.py
Labels: image

#2950 Make window subclassable
  buildconfig/stubs/pygame/window.pyi
  docs/reST/ref/window.rst
  src_c/window.c
  test/window_test.py
Labels: window

#2859 Optimized `transform.scale2x()`
  src_c/scale2x.c
Labels: Performance, transform

#2952 Use static inline instead of inline
  src_c/geometry_common.c
  src_c/geometry_common.h
  src_c/math.c
Labels: Code quality/robustness

#2936 Add default dest (0, 0) to Surface.blit
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/doc/surface_doc.h
  src_c/surface.c
  test/surface_test.py
Labels: Surface

#2942 Docs generation is now `python -m buildconfig docs` and `python -m buildconfig docs full_generation`
  buildconfig/config.py
  docs/README.md
  setup.py
Labels: buildconfig, docs
