Repository pygame-community/pygame-ce, pull requests merged in 2024-10, with the labels that each got.

#3127 Added additional circle attributes
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/circle.c
  src_c/doc/geometry_doc.h
  test/geometry_test.py
Labels: New API, geometry

#3123 Bump ubuntu to 24.04 on CI, fix cppcheck
  .github/workflows/build-debian-multiarch.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-ubuntu-coverage.yml
  .github/workflows/build-ubuntu-sdist.yml
  .github/workflows/cppcheck.yml
  .github/workflows/format-lint.yml
  src_c/color.c
  test/mixer_music_test.py
Labels: Code quality/robustness, dependencies

#3111 Clarify how Rect and positions relate in the intro tutorial
  docs/reST/tutorials/en/intro-to-pygame.rst
Labels: docs

#2912 Fix aalines overlap
  src_c/draw.c
  test/draw_test.py
Labels: draw, bugfix

#3078 Fix `(F)Rect.scale_by(_ip)` handling of the `scale_by` parameter
  docs/reST/ref/rect.rst
  src_c/rect_impl.h
  test/rect_test.py
Labels: rect, bugfix

#2985 Add 9-patch to examples
  examples/data/frame.png
  examples/ninepatch.py
Labels: examples

#2304 transform.solid_overlay
  buildconfig/stubs/pygame/transform.pyi
  docs/reST/ref/transform.rst
  src_c/doc/transform_doc.h
  src_c/transform.c
  test/transform_test.py
Labels: New API, transform

#3140 Add draw.aaline width argument
  buildconfig/stubs/pygame/draw.pyi
  docs/reST/ref/code_examples/draw_module_example.png
  docs/reST/ref/code_examples/draw_module_example.py
  docs/reST/ref/draw.rst
  src_c/doc/draw_doc.h
  src_c/draw.c
  test/draw_test.py
Labels: draw

#3142 New up-to-date review of french readme + note of when it was last reviewed
  docs/readmes/README.fr.rst
Labels: docs

#3141 Add meson flag for compiling with SDL3
  .github/workflows/build-sdl3.yml
  buildconfig/download_win_prebuilt.py
  meson.build
  meson_options.txt
  src_c/SDL_gfx/SDL_gfxPrimitives.h
  src_c/_pygame.h
  src_c/meson.build
  src_c/palette.h
  src_c/pgcompat.c
  src_c/pgcompat_rect.h
  src_c/scale2x.c
  src_c/scrap.c
  src_c/scrap_sdl2.c
  src_c/surface.h
Labels: build, sdl3, meson

#3145 SDL3: compile rect, bufferproxy, math, newbuffer, geometry
  meson.build
  src_c/bufferproxy.c
  src_c/geometry.h
  src_c/meson.build
Labels: sdl3

#2933 Fixes for rwobject (now iostream) SDL3
  meson.build
  src_c/font.c
  src_c/imageext.c
  src_c/meson.build
  src_c/mixer.c
  src_c/music.c
  src_c/rwobject.c
Labels: rwops, sdl3

#3146 SDL3 support for pygame.system
  src_c/meson.build
  src_c/system.c
Labels: system, sdl3

#3147 Fix stubcheck error on windows, mark typealiases as such in typing
  buildconfig/stubs/pygame/geometry.pyi
  buildconfig/stubs/pygame/typing.pyi
  src_py/__init__.py
  src_py/typing.py
Labels: bugfix, typing

#3120 Add Italian README
  README.rst
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.it.rst
  docs/readmes/README.ja.rst
  docs/readmes/README.zh-cn.rst
Labels: docs

#3160 Adjust pg_MappedColorFromObj API for SDL3-porting
  docs/reST/c_api/color.rst
  src_c/color.c
  src_c/draw.c
  src_c/include/_pygame.h
  src_c/mask.c
  src_c/meson.build
  src_c/pixelarray.c
  src_c/pixelarray_methods.c
  src_c/surface.c
  src_c/transform.c
Labels: color, sdl3

#3156 Fix handling all color types in `pygame.transform.threshold`
  src_c/transform.c
  test/transform_test.py
Labels: transform, bugfix

#3165 Improve color notation in the docs
  docs/reST/ref/draw.rst
  docs/reST/ref/mask.rst
  docs/reST/ref/surface.rst
  docs/reST/ref/transform.rst
  docs/reST/ref/typing.rst
  src_c/doc/surface_doc.h
Labels: docs

#3168 SDL 2.30.8
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies

#3150 Add basic pygame.typing unit test, remove problematic TypeAlias usage
  buildconfig/stubs/pygame/typing.pyi
  src_py/typing.py
  test/meson.build
  test/typing_test.py
Labels: tests, typing

#3131 Added `geometry.Line` base
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/geometry.rst
  src_c/_pygame.h
  src_c/doc/geometry_doc.h
  src_c/geometry.c
  src_c/geometry.h
  src_c/geometry_common.c
  src_c/geometry_common.h
  src_c/line.c
  test/geometry_test.py
Labels: New API, geometry

#3163 wasm: better wasm fencing
  src_c/time.c
Labels: Code quality/robustness, WebAssembly

#3170 Publicize window docs
  docs/reST/index.rst
  docs/reST/ref/window.rst
  docs/reST/themes/classic/elements.html
Labels: docs, window

#3118 mac/manylinux deps updates 2024
  buildconfig/manylinux-build/docker_base/Dockerfile-aarch64
  buildconfig/manylinux-build/docker_base/Dockerfile-i686
  buildconfig/manylinux-build/docker_base/Dockerfile-x86_64
  buildconfig/manylinux-build/docker_base/alsa/alsa.sha512
  buildconfig/manylinux-build/docker_base/alsa/build-alsa.sh
  buildconfig/manylinux-build/docker_base/buildtools/install.sh
  buildconfig/manylinux-build/docker_base/flac/build-flac.sh
  buildconfig/manylinux-build/docker_base/fluidsynth/build-fluidsynth.sh
  buildconfig/manylinux-build/docker_base/fluidsynth/fluidsynth.sha512
  buildconfig/manylinux-build/docker_base/freetype/build-freetype.sh
  buildconfig/manylinux-build/docker_base/freetype/freetype.sha512
  buildconfig/manylinux-build/docker_base/libffi/build-libffi.sh
  buildconfig/manylinux-build/docker_base/libffi/libffi.sha512
  buildconfig/manylinux-build/docker_base/libjpegturbo/build-jpeg-turbo.sh
  buildconfig/manylinux-build/docker_base/libjpegturbo/libjpegturbo.sha512
  buildconfig/manylinux-build/docker_base/libpipewire/build-libpipewire.sh
  buildconfig/manylinux-build/docker_base/libpipewire/libpipewire.sha512
  buildconfig/manylinux-build/docker_base/libpng/build-png.sh
  buildconfig/manylinux-build/docker_base/libpng/png.sha512
  buildconfig/manylinux-build/docker_base/libtiff/build-tiff.sh
  buildconfig/manylinux-build/docker_base/libtiff/tiff.sha512
  buildconfig/manylinux-build/docker_base/libwebp/build-webp.sh
  buildconfig/manylinux-build/docker_base/libwebp/webp.sha512
  buildconfig/manylinux-build/docker_base/libxml2/build-libxml2.sh
  buildconfig/manylinux-build/docker_base/libxml2/libxml2.sha512
  buildconfig/manylinux-build/docker_base/libxmp/build-libxmp.sh
  buildconfig/manylinux-build/docker_base/mesa/glslang/build-glslang.sh
  buildconfig/manylinux-build/docker_base/mesa/glslang/glslang.sha512sum
  buildconfig/manylinux-build/docker_base/mesa/libdrm/build-libdrm.sh
  buildconfig/manylinux-build/docker_base/mesa/libdrm/libdrm.sha512sum
  buildconfig/manylinux-build/docker_base/mesa/mako/build-mako.sh
  buildconfig/manylinux-build/docker_base/mesa/mesa/build-mesa.sh
  buildconfig/manylinux-build/docker_base/mesa/mesa/mesa.sha512sum
  buildconfig/manylinux-build/docker_base/mpg123/build-mpg123.sh
  buildconfig/manylinux-build/docker_base/mpg123/mpg123.sha512
  buildconfig/manylinux-build/docker_base/ogg/build-ogg.sh
  buildconfig/manylinux-build/docker_base/opus/build-opus.sh
  buildconfig/manylinux-build/docker_base/opus/opus.sha512
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/wayland/build-wayland.sh
  buildconfig/manylinux-build/docker_base/wayland/wayland.sha512sum
  buildconfig/manylinux-build/docker_base/xorg/libpciaccess/build-libpciaccess.sh
  buildconfig/manylinux-build/docker_base/xorg/libpciaccess/libpciaccess.sha512sum
  buildconfig/manylinux-build/docker_base/xorg/macros/build-macros.sh
  buildconfig/manylinux-build/docker_base/xorg/macros/macros.sha512sum
  buildconfig/manylinux-build/docker_base/zlib-ng/build-zlib-ng.sh
  buildconfig/manylinux-build/docker_base/zlib-ng/zlib-ng.sha512
  buildconfig/manylinux-build/docker_base/zlib/build-zlib.sh
  buildconfig/manylinux-build/docker_base/zlib/zlib.sha512
Labels: dependencies, build

#3169 Fix TGA save bug, add test
  src_c/image.c
  test/image_test.py
Labels: image, bugfix

#3172 Minor fixes and changes to `geometry.pyi` stub file
  buildconfig/stubs/pygame/geometry.pyi
Labels: type hints

#3178 Better meson error on windows when libraries versions are not correct
  meson.build
Labels: Windows, meson

#3166 Image module SDL3 support
  src_c/_pygame.h
  src_c/image.c
  src_c/meson.build
  src_c/surface.c
  src_c/transform.c
Labels: image, sdl3

#2855 Allow erasing pixels in pygame.Surface.scroll and add repeat functionality
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/constants.pyi
  buildconfig/stubs/pygame/locals.pyi
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/surface.rst
  src_c/_pygame.h
  src_c/constants.c
  src_c/doc/surface_doc.h
  src_c/surface.c
  test/surface_test.py
Labels: New API, Surface

#3183 Include the explicit type in `ColorLike` and `RectLike`
  buildconfig/stubs/pygame/typing.pyi
  src_py/typing.py
Labels: type hints, typing

#3181 Add main guard to examples (+ incredibly small fixes)
  examples/README.rst
  examples/audiocapture.py
  examples/font_viewer.py
  examples/go_over_there.py
  examples/multiplayer_joystick.py
  examples/ninepatch.py
  examples/prevent_display_stretching.py
  examples/resizing_new.py
  examples/scrap_clipboard.py
  examples/setmodescale.py
  examples/sprite_texture.py
  examples/video.py
  examples/window_opengl.py
Labels: examples

#3192 Revert 3140 draw.aaline width
  buildconfig/stubs/pygame/draw.pyi
  docs/reST/ref/code_examples/draw_module_example.png
  docs/reST/ref/code_examples/draw_module_example.py
  docs/reST/ref/draw.rst
  src_c/doc/draw_doc.h
  src_c/draw.c
  test/draw_test.py
Labels: draw, bugfix

#3201 Fix latest SDL3 and MSYS2 fails
  .github/workflows/build-on-msys2.yml
  .github/workflows/build-sdl3.yml
Labels: CI, build, sdl3

#3186 Ignore new gcc version mask array bounds warning
  meson.build
Labels: build

#3194 Fix grammar and formatting in Window docs
  docs/reST/ref/window.rst
Labels: docs
