Repository pygame-community/pygame-ce, pull requests merged in 2025-07, with the labels that each got.

#3515 Port more SDL functions (SDL3)
  src_c/_pygame.h
  src_c/image.c
  src_c/rotozoom.c
  src_c/surface.c
  src_c/transform.c
  src_c/window.c
Labels: Surface, sdl3

#3527 Add pypy 3.11 support
  pyproject.toml
Labels: CI, pypy

#3534 Add stubs as dependencies to doc pages
  docs/reST/ext/documenters.py
Labels: docs

#3537 2.5.5 + pypy311
  .github/workflows/build-debian-multiarch.yml
  .github/workflows/build-emsdk.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-on-msys2.yml
  .github/workflows/build-sdl3.yml
  .github/workflows/build-ubuntu-coverage.yml
  .github/workflows/build-ubuntu-debug-python.yml
  .github/workflows/build-ubuntu-sdist.yml
  .github/workflows/build-windows.yml
  .github/workflows/cppcheck.yml
  .github/workflows/dev-check.yml
  pyproject.toml
Labels: pypy
