Repository pygame-community/pygame-ce, pull requests merged in 2025-05, with the labels that each got.

#3389 Move Surface, draw, transform and image docs to stubs
  buildconfig/stubs/pygame/display.pyi
  buildconfig/stubs/pygame/draw.pyi
  buildconfig/stubs/pygame/image.pyi
  buildconfig/stubs/pygame/surface.pyi
  buildconfig/stubs/pygame/transform.pyi
  docs/reST/ext/documenters.py
  docs/reST/ref/draw.rst
  docs/reST/ref/image.rst
  docs/reST/ref/surface.rst
  docs/reST/ref/transform.rst
  src_c/doc/draw_doc.h
  src_c/doc/image_doc.h
  src_c/doc/surface_doc.h
  src_c/doc/transform_doc.h
Labels: docs

#3425 Update SDL2 to 2.32.6
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies

#3327 Port Renderer to C code
  buildconfig/stubs/pygame/__init__.pyi
  buildconfig/stubs/pygame/_render.pyi
  buildconfig/stubs/pygame/constants.pyi
  buildconfig/stubs/pygame/locals.pyi
  src_c/constants.c
  src_c/render.c
  src_c/static.c
  test/meson.build
  test/render_test.py
Labels: render/_sdl2

#3371 Restructure and port surface init and convert to SDL3
  src_c/surface.c
Labels: Surface, sdl3

#3282 Add `Font.set_linesize()` (TTF 2.24.0 feature)
  buildconfig/stubs/pygame/font.pyi
  docs/reST/ref/font.rst
  src_c/doc/font_doc.h
  src_c/font.c
  test/font_test.py
Labels: New API, font

#3406 Replace AddObject() with AddObjectRef()
  src_c/_camera.c
  src_c/_freetype.c
  src_c/base.c
  src_c/bufferproxy.c
  src_c/color.c
  src_c/event.c
  src_c/font.c
  src_c/geometry.c
  src_c/joystick.c
  src_c/key.c
  src_c/mask.c
  src_c/math.c
  src_c/mixer.c
  src_c/newbuffer.c
  src_c/pixelarray.c
  src_c/rect.c
  src_c/render.c
  src_c/surface.c
  src_c/time.c
  src_c/window.c
Labels: Code quality/robustness

#3398 Fix stubs for buffer types
  buildconfig/stubs/pygame/bufferproxy.pyi
  buildconfig/stubs/pygame/color.pyi
  buildconfig/stubs/pygame/image.pyi
  buildconfig/stubs/pygame/mask.pyi
  buildconfig/stubs/pygame/mixer.pyi
  buildconfig/stubs/pygame/pixelarray.pyi
Labels: type hints

#3445 Update pythoncapi_compat.h
  src_c/include/pythoncapi_compat.h
Labels: dependencies

#3446 add doc for vec conversion
  docs/reST/ref/math.rst
Labels: docs

#3451 Port over more SDL functions to SDL3
  src_c/_pygame.h
  src_c/alphablit.c
  src_c/draw.c
  src_c/freetype/ft_render.c
  src_c/surface.c
  src_c/surface_fill.c
  src_c/surflock.c
  src_c/transform.c
Labels: sdl3

#3354 Surface multiphase init
  src_c/surface.c
Labels: Code quality/robustness, Surface
