Repository pygame-community/pygame-ce, pull requests merged in 2025-02, with the labels that each got.

#3310 Move Surface towards compiling w/ SDL3
  src_c/surface.c
Labels: Surface, sdl3

#3332 Update SDL to 2.32, mixer to 2.8.1
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies

#3317 Add interface for _sdl2.video classes
  buildconfig/Setup.Android.SDL2.in
  buildconfig/Setup.Emscripten.SDL2.in
  buildconfig/Setup.SDL2.in
  src_c/_pygame.h
  src_c/include/_pygame.h
  src_c/meson.build
  src_c/render.c
  src_c/static.c
Labels: _sdl2

#3314 Move transform towards compiling w/ SDL3
  src_c/_pygame.h
  src_c/meson.build
  src_c/scale2x.c
  src_c/transform.c
Labels: transform, sdl3

#3309 Pixelarray SDL3
  src_c/meson.build
  src_c/pixelarray.c
  src_c/pixelarray_methods.c
Labels: PixelArray, sdl3

#3335 General improvements and fixes to stubs
  buildconfig/stubs/pygame/_sdl2/controller.pyi
  buildconfig/stubs/pygame/_sdl2/touch.pyi
  buildconfig/stubs/pygame/bufferproxy.pyi
  buildconfig/stubs/pygame/color.pyi
  buildconfig/stubs/pygame/display.pyi
  buildconfig/stubs/pygame/event.pyi
  buildconfig/stubs/pygame/image.pyi
  buildconfig/stubs/pygame/joystick.pyi
  buildconfig/stubs/pygame/key.pyi
  buildconfig/stubs/pygame/math.pyi
  buildconfig/stubs/pygame/midi.pyi
  buildconfig/stubs/pygame/mixer.pyi
  buildconfig/stubs/pygame/mixer_music.pyi
  buildconfig/stubs/pygame/pixelarray.pyi
  buildconfig/stubs/pygame/rect.pyi
  buildconfig/stubs/pygame/sndarray.pyi
  buildconfig/stubs/pygame/surface.pyi
  buildconfig/stubs/pygame/system.pyi
  docs/reST/ref/bufferproxy.rst
  src_c/doc/bufferproxy_doc.h
Labels: type hints, bugfix

#3338 Prep alphablit.c for SDL3
  src_c/_blit_info.h
  src_c/alphablit.c
Labels: Surface, sdl3

#3337 Prep surface_fill.c for SDL3
  src_c/surface.h
  src_c/surface_fill.c
Labels: Surface, sdl3

#3340 Port scap.c to SDL3
  src_c/meson.build
  src_c/scrap.c
  src_c/scrap_win.c
Labels: scrap, sdl3

#3341 Port camera to SDL3
  src_c/_camera.c
  src_c/camera.h
  src_c/camera_v4l2.c
  src_c/meson.build
Labels: camera, sdl3

#3343 GET_PIXELVALS SDL3 compat
  src_c/alphablit.c
  src_c/pixelarray_methods.c
  src_c/simd_blitters.h
  src_c/surface.c
  src_c/surface.h
  src_c/surface_fill.c
Labels: Surface, bugfix, sdl3

#3344 A few surface.c SDL3 fixes
  src_c/surface.c
Labels: Surface, sdl3

#3347 Added tolerance for Color.lerp
  src_c/color.c
Labels: color

#3345 Fix build with debug python
  .github/workflows/build-ubuntu-coverage.yml
  .github/workflows/build-ubuntu-debug-python.yml
  src_c/base.c
  src_c/include/_pygame.h
  src_c/mixer.c
  src_c/surflock.c
Labels: Code quality/robustness, CI, bugfix

#3328 Add full unicode support to `Font.metrics`
  docs/reST/ref/font.rst
  src_c/font.c
  test/font_test.py
Labels: enhancement, font
