Repository pygame-community/pygame-ce, pull requests merged in 2025-01, with the labels that each got.

#3091 Document how volume is stored internally for `(get|set)_volume` functions and methods
  docs/reST/ref/mixer.rst
  docs/reST/ref/music.rst
Labels: docs, mixer

#3280 Remove unnecessary lock in gfxdraw
  src_c/SDL_gfx/SDL_gfxPrimitives.c
Labels: gfxdraw

#3278 SDL3: restructure cliprect handling in draw.c
  src_c/_pygame.h
  src_c/draw.c
Labels: draw, sdl3

#3286 Bump SDL2_image and SDL3 prerelease
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies, sdl3

#3294 Introduce PG_SURF_FORMATENUM macro (SDL3 compat)
  src_c/_camera.c
  src_c/_pygame.h
  src_c/alphablit.c
  src_c/base.c
  src_c/mask.c
  src_c/pixelarray_methods.c
  src_c/pixelcopy.c
  src_c/rotozoom.c
  src_c/surface.c
  src_c/transform.c
Labels: Code quality/robustness, sdl3

#3295 Expand __init__ parameters for `Window`
  buildconfig/stubs/pygame/window.pyi
Labels: type hints, window

#3297 Optimize correct colordict entries
  src_c/color.c
Labels: Performance, color

#3303 Move get_rect helper to c_api
  docs/reST/c_api/base.rst
  src_c/_pygame.h
  src_c/base.c
  src_c/include/_pygame.h
  src_c/surface.c
Labels: Code quality/robustness, _sdl2

#3302 Optimize for str hex color values
  src_c/color.c
Labels: Performance, color

#3304 Bump SDL3 / SDL3_image prebuilts
  buildconfig/download_win_prebuilt.py
  meson.build
Labels: dependencies, sdl3

#3307 Mask SDL3
  src_c/_pygame.h
  src_c/mask.c
  src_c/meson.build
Labels: mask, sdl3

#3301 Freetype typing fixes, enhancements to dict/tuple/ellipsis typing
  buildconfig/stubs/pygame/_sdl2/touch.pyi
  buildconfig/stubs/pygame/color.pyi
  buildconfig/stubs/pygame/freetype.pyi
  buildconfig/stubs/pygame/mixer_music.pyi
  buildconfig/stubs/pygame/pixelarray.pyi
  buildconfig/stubs/pygame/rect.pyi
Labels: type hints, freetype

#3308 Pixelcopy SDL3
  src_c/meson.build
  src_c/pixelcopy.c
Labels: surfarray, sdl3

#3288 Mark old xType aliases as deprecated
  buildconfig/stubs/pygame/event.pyi
  buildconfig/stubs/pygame/font.pyi
  buildconfig/stubs/pygame/mask.pyi
  buildconfig/stubs/pygame/mixer.pyi
  buildconfig/stubs/pygame/rect.pyi
  buildconfig/stubs/pygame/surface.pyi
Labels: Deprecation Warning

#3316 Docs fix for time, weird generation in c api
  buildconfig/stubs/pygame/time.pyi
  docs/reST/c_api/base.rst
Labels: docs, time
