Repository pygame-community/pygame-ce, pull requests merged in 2025-06, with the labels that each got.

#3452 Update pre-commit config
  .pre-commit-config.yaml
Labels: dependencies

#3466 Transform palette tests
  test/transform_test.py
Labels: tests, transform

#3478 Re exclude korean tutorials in release wheels and run important CI everytime
  .github/workflows/build-macos.yml
  .github/workflows/build-manylinux.yml
  .github/workflows/build-ubuntu-sdist.yml
  .github/workflows/build-windows.yml
  docs/meson.build
Labels: macOS

#3482 Remove redundant tp_getattro sets
  src_c/math.c
  src_c/pixelarray.c
Labels: Code quality/robustness

#3438 Update CIBW setting to prevent warning
  pyproject.toml
Labels: CI

#3454 Optimize vector-number math by avoiding RealNumber_Check
  src_c/math.c
Labels: Performance, math

#2670 Added `area` kwarg to `mask.to_surface`
  buildconfig/stubs/pygame/mask.pyi
  docs/reST/ref/mask.rst
  src_c/doc/mask_doc.h
  src_c/mask.c
  test/mask_test.py
Labels: New API, mask

#3458 Optimize vector creation/update using pg_VectorCoordsFromObj
  src_c/math.c
Labels: Performance, math

#3483 Combine all "checks" CI into a single workflow
  .github/workflows/build-ubuntu-coverage.yml
  .github/workflows/cppcheck.yml
  .github/workflows/run-ubuntu-checks.yml
Labels: CI

#3471 Add skip to set_gamma tests
  test/display_test.py
Labels: tests, sdl3

#3489 Fix cppcheck skip logic on CI
  .github/workflows/run-ubuntu-checks.yml
Labels: CI

#3481 Update to SDL 2.32.8
  buildconfig/download_win_prebuilt.py
  buildconfig/manylinux-build/docker_base/mesa/libdrm/build-libdrm.sh
  buildconfig/manylinux-build/docker_base/mesa/libdrm/libdrm.sha512sum
  buildconfig/manylinux-build/docker_base/sdl_libs/build-sdl2-libs.sh
  buildconfig/manylinux-build/docker_base/sdl_libs/sdl2.sha512
  meson.build
Labels: dependencies

#3456 add Color.from_hex
  buildconfig/stubs/pygame/color.pyi
  docs/reST/ref/color.rst
  src_c/color.c
  src_c/doc/color_doc.h
  test/color_test.py
Labels: New API, color

#3490 Add missing/Fix versionadded tags in display, mixer and surface
  buildconfig/stubs/pygame/display.pyi
  buildconfig/stubs/pygame/surface.pyi
  docs/reST/ref/mixer.rst
Labels: docs

#3191 New draw.aaline width algorithm
  docs/reST/ref/code_examples/draw_module_example.png
  src_c/draw.c
  test/draw_test.py
Labels: draw, bugfix

#3498 Fix event docs grammar
  docs/reST/ref/event.rst
Labels: docs

#3488 Typing enhancements for the `pygame.sprite` module
  buildconfig/stubs/pygame/sprite.pyi
Labels: type hints, sprite

#3499 Use PyModule_AddType
  src_c/_freetype.c
  src_c/_sdl2/controller.c
  src_c/bufferproxy.c
  src_c/color.c
  src_c/geometry.c
  src_c/newbuffer.c
  src_c/pixelarray.c
  src_c/time.c
  src_c/window.c
Labels: Code quality/robustness

#3404 Refactor alphablit
  src_c/alphablit.c
Labels: Code quality/robustness

#3514 Simplify key code
  src_c/key.c
Labels: Code quality/robustness, key
