Repository pygame-community/pygame-ce, pull requests merged in 2025-08, with the labels that each got.

#3545 Update SDL3 from 3.2.10 to 3.2.18
  buildconfig/download_win_prebuilt.py
  meson.build
Labels: dependencies, sdl3

#3435 Surface module compiling in SDL3
  src_c/_surface.h
  src_c/alphablit.c
  src_c/meson.build
  src_c/simd_blitters.h
  src_c/simd_blitters_avx2.c
  src_c/simd_blitters_sse2.c
  src_c/simd_fill.h
  src_c/simd_surface_fill_avx2.c
  src_c/simd_surface_fill_sse2.c
  src_c/simd_transform.h
  src_c/surface.c
  src_c/surface_fill.c
Labels: Surface, sdl3

#3486 Base header
  buildconfig/Setup.Emscripten.SDL2.in
  src_c/base.c
  src_c/base.h
  src_c/include/_pygame.h
  src_c/mixer.c
  src_c/static.c
  src_c/surface.h
  src_py/__init__.py
Labels: WebAssembly, pygame.base

#3550 Fix rwops and some image stuff on SDL3
  src_c/image.c
  src_c/imageext.c
  src_c/rwobject.c
Labels: image, sdl3

#3443 Bump build dependencies
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  buildconfig/macdependencies/build_mac_deps.sh
  buildconfig/manylinux-build/docker_base/alsa/alsa.sha512
  buildconfig/manylinux-build/docker_base/alsa/build-alsa.sh
  buildconfig/manylinux-build/docker_base/buildtools/install.sh
  buildconfig/manylinux-build/docker_base/flac/build-flac.sh
  buildconfig/manylinux-build/docker_base/flac/flac.sha512
  buildconfig/manylinux-build/docker_base/fluidsynth/build-fluidsynth.sh
  buildconfig/manylinux-build/docker_base/fluidsynth/fluidsynth.sha512
  buildconfig/manylinux-build/docker_base/freetype/build-freetype.sh
  buildconfig/manylinux-build/docker_base/freetype/freetype.sha512
  buildconfig/manylinux-build/docker_base/libdecor/build-libdecor.sh
  buildconfig/manylinux-build/docker_base/libdecor/libdecor.sha512sum
  buildconfig/manylinux-build/docker_base/libffi/build-libffi.sh
  buildconfig/manylinux-build/docker_base/libffi/libffi.sha512
  buildconfig/manylinux-build/docker_base/libjpegturbo/build-jpeg-turbo.sh
  buildconfig/manylinux-build/docker_base/libjpegturbo/libjpegturbo.sha512
  buildconfig/manylinux-build/docker_base/libpipewire/build-libpipewire.sh
  buildconfig/manylinux-build/docker_base/libpng/build-png.sh
  buildconfig/manylinux-build/docker_base/libpng/png.sha512
  buildconfig/manylinux-build/docker_base/libtiff/build-tiff.sh
  buildconfig/manylinux-build/docker_base/libxml2/build-libxml2.sh
  buildconfig/manylinux-build/docker_base/libxml2/libxml2.sha512
  buildconfig/manylinux-build/docker_base/libxmp/build-libxmp.sh
  buildconfig/manylinux-build/docker_base/libxmp/libxmp.sha512
  buildconfig/manylinux-build/docker_base/mesa/glslang/build-glslang.sh
  buildconfig/manylinux-build/docker_base/mesa/glslang/glslang.sha512sum
  buildconfig/manylinux-build/docker_base/mesa/mako/build-mako.sh
  buildconfig/manylinux-build/docker_base/mesa/mesa/build-mesa.sh
  buildconfig/manylinux-build/docker_base/mesa/mesa/mesa.sha512sum
  buildconfig/manylinux-build/docker_base/mpg123/build-mpg123.sh
  buildconfig/manylinux-build/docker_base/mpg123/mpg123.sha512
  buildconfig/manylinux-build/docker_base/zlib-ng/build-zlib-ng.sh
  buildconfig/manylinux-build/docker_base/zlib-ng/zlib-ng.sha512
  dev.py
  pyproject.toml
Labels: dependencies

#3428 Port `display.c` to SDL3
  src_c/display.c
  src_c/include/_pygame.h
  src_c/meson.build
  src_c/window.c
Labels: display, sdl3

#3549 Fix font test segfault on SDL3
  src_c/font.c
Labels: font, sdl3

#3547 Add `Color.__bytes__`
  buildconfig/stubs/pygame/color.pyi
  docs/reST/ref/color.rst
  src_c/color.c
  test/color_test.py
Labels: color

#3554 Support prompts indicate freethreaded build status
  src_py/__init__.py
Labels: enhancement, free-threading

#3525 Improve sprite stubs
  buildconfig/stubs/pygame/sprite.pyi
Labels: type hints, sprite

#3402 Implemented the Line.project
  buildconfig/stubs/pygame/geometry.pyi
  docs/reST/ref/code_examples/project.png
  docs/reST/ref/code_examples/project_clamp.png
  docs/reST/ref/geometry.rst
  src_c/doc/geometry_doc.h
  src_c/line.c
  test/geometry_test.py
Labels: New API, geometry

#3503 Greek README
  README.rst
  docs/readmes/README.es.rst
  docs/readmes/README.fa.rst
  docs/readmes/README.fr.rst
  docs/readmes/README.gr.rst
  docs/readmes/README.it.rst
  docs/readmes/README.ja.rst
  docs/readmes/README.ru.rst
  docs/readmes/README.zh-cn.rst
  docs/readmes/README.zh-tw.rst
Labels: docs

#2354 pygame.transform.pixelate
  buildconfig/stubs/pygame/transform.pyi
  src_c/doc/transform_doc.h
  src_c/transform.c
  test/transform_test.py
Labels: New API, transform

#2840 flood fill
  buildconfig/stubs/pygame/draw.pyi
  src_c/doc/draw_doc.h
  src_c/draw.c
  test/draw_test.py
Labels: New API, draw

#3574 Port freetype to SDL3
  src_c/freetype/ft_pixel.h
  src_c/freetype/ft_render.c
  src_c/freetype/ft_render_cb.c
  src_c/freetype/ft_wrap.c
  src_c/freetype/ft_wrap.h
  src_c/meson.build
Labels: freetype, sdl3
