Repository pygame-community/pygame-ce, pull requests merged in 2025-03, with the labels that each got.

#3296 Move Window, display and system docs to stubs
  buildconfig/stubs/pygame/display.pyi
  buildconfig/stubs/pygame/system.pyi
  buildconfig/stubs/pygame/window.pyi
  docs/reST/ext/documenters.py
  docs/reST/ref/display.rst
  docs/reST/ref/system.rst
  docs/reST/ref/window.rst
  src_c/doc/display_doc.h
  src_c/doc/system_doc.h
  src_c/doc/window_doc.h
Labels: docs

#3358 Use webp to minify logo images
  docs/reST/_static/pygame_ce_lofi.png
  docs/reST/_static/pygame_ce_lofi.webp
  docs/reST/_static/pygame_ce_logo.png
  docs/reST/_static/pygame_ce_logo.webp
  docs/reST/_static/pygame_ce_powered.png
  docs/reST/_static/pygame_ce_powered.webp
  docs/reST/_static/pygame_ce_powered_lowres.png
  docs/reST/_static/pygame_ce_powered_lowres.webp
  docs/reST/_static/pygame_ce_tiny.png
  docs/reST/_static/pygame_ce_tiny.webp
  docs/reST/_static/upstream_logos.zip
  docs/reST/conf.py
  docs/reST/logos.rst
Labels: docs

#3360 Fixed stub for pygame._sdl2.video.Texture.__init__
  buildconfig/stubs/pygame/_sdl2/video.pyi
Labels: type hints, render/_sdl2

#3355 Updated print_debug_info to output the status of the GIL
  src_py/_debug.py
Labels: free-threading

#3361 Use spaces instead of tabs in docs rst files
  docs/reST/c_api/slots.rst
  docs/reST/ref/bufferproxy.rst
  docs/reST/ref/mask.rst
  docs/reST/ref/mouse.rst
  docs/reST/ref/sdl2_video.rst
  docs/reST/tutorials/en/tom-games6.rst
Labels: docs

#3208 Port joystick to SDL3
  src_c/joystick.c
  src_c/meson.build
Labels: joystick, scrap, sdl3

#3363 Fix failing CI
  .github/workflows/build-debian-multiarch.yml
Labels: CI

#3364 No more one-line statements without braces
  src_c/.clang-format
  src_c/SDL_gfx/SDL_gfxPrimitives.c
  src_c/_camera.c
  src_c/_freetype.c
  src_c/alphablit.c
  src_c/base.c
  src_c/bitmask.c
  src_c/camera_v4l2.c
  src_c/camera_windows.c
  src_c/circle.c
  src_c/color.c
  src_c/display.c
  src_c/draw.c
  src_c/event.c
  src_c/font.c
  src_c/freetype/ft_cache.c
  src_c/freetype/ft_layout.c
  src_c/freetype/ft_unicode.c
  src_c/freetype/ft_wrap.c
  src_c/gfxdraw.c
  src_c/image.c
  src_c/imageext.c
  src_c/include/_pygame.h
  src_c/joystick.c
  src_c/key.c
  src_c/line.c
  src_c/mask.c
  src_c/math.c
  src_c/mixer.c
  src_c/mouse.c
  src_c/music.c
  src_c/pixelarray_methods.c
  src_c/pixelcopy.c
  src_c/rect_impl.h
  src_c/rotozoom.c
  src_c/rwobject.c
  src_c/scale_mmx32.c
  src_c/scale_mmx64.c
  src_c/scale_mmx64_msvc.c
  src_c/scrap.c
  src_c/scrap_win.c
  src_c/simd_transform_sse2.c
  src_c/surface.c
  src_c/surface_fill.c
  src_c/system.c
  src_c/time.c
  src_c/transform.c
  src_c/window.c
Labels: Code quality/robustness, Formatting

#3357 Fix unicode property when keyup blocked
  src_c/event.c
Labels: event

#3362 Convert some `data/example` images to webp
  docs/reST/tutorials/en/chimp-explanation.rst
  docs/reST/tutorials/en/move-it.rst
  docs/reST/tutorials/es/ChimpanceLineaporLinea.rst
  examples/arraydemo.py
  examples/blend_fill.py
  examples/blit_blends.py
  examples/chimp.py
  examples/cursors.py
  examples/data/arraydemo.bmp
  examples/data/arraydemo.webp
  examples/data/blue.mpg
  examples/data/chimp.png
  examples/data/chimp.webp
  examples/data/cursor.png
  examples/data/cursor.webp
  examples/data/danger.gif
  examples/data/fist.png
  examples/data/fist.webp
  examples/data/frame.png
  examples/data/frame.webp
  examples/data/liquid.bmp
  examples/data/liquid.webp
  examples/data/midikeys.png
  examples/data/midikeys.webp
  examples/data/static.png
  examples/data/static.webp
  examples/liquid.py
  examples/midi.py
  examples/moveit.py
  examples/ninepatch.py
  examples/pixelarray.py
  examples/scroll.py
  examples/testsprite.py
  test/transform_test.py
Labels: examples

#3372 Add `image.load_animation`
  buildconfig/stubs/pygame/image.pyi
  docs/reST/ref/image.rst
  examples/data/animated_sample.gif
  src_c/doc/image_doc.h
  src_c/image.c
  src_c/imageext.c
  test/image_test.py
Labels: New API, image

#3380 Include tutorials docs in release build (fixes #3353)
  docs/meson.build
Labels: docs

#3386 Remove warning with zero size & RESIZABLE in display.set_mode
  src_c/display.c
Labels: display, bugfix
